<template>
  <div class="page">
    <div class="navbar active">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="button button-fill text-color-theme bg-color-white button-44 back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">{{ _('Mobile As Hub') }}</div>
        <div class="right frappe-detail-right mobile-as-hub-right">
          <a class="link icon-only" @click="${()=>{addNetwork()}}">
            <i class="icon material-icons" >add</i>
          </a>
          
        </div>
      </div>
    </div>

    <div class="page-content">
      {% raw %}
      <div id="vue-app">
        <div>
          <div class="block mx-3 margin-top">
            <p class="segmented segmented-strong">
              <button class="button step-one" :class="index == 1?'button-active button':'button'" v-on:click="toTab(1)">
                {{_("STEP 1")}}
              </button>
              <button class="button step-two" :class="index == 2?'button-active button':'button'" v-on:click="toTab(2)">
                {{_("STEP 2")}}
              </button>
              <button class="button step-three" :class="index == 3?'button-active button':'button'" v-on:click="toTab(3)">
                {{_("STEP 3")}}
              </button>
              <span class="segmented-highlight"></span>
            </p>
          </div>
          <div class="tabs">
            <div id="step-1" class="view tab view-main" :class="[index == 1 ? 'tab-active' : '']" v-if="index == 1">
              <div class="title-tip" style="padding: 0px 0px 0px 15px">
                <span class="text-muted">{{_('If you need to modify the devices in the network, please click details to view.')}}</span>
              </div>
              <device-network-list-component
                :guid="guid"
                :type="1"
                v-if="index == 1"
                @child-event="handleChildEvent"
              ></device-network-list-component>
              <div class="row" style="margin-bottom: 15px; margin-top: 15px">
                <div class="col">
                  <div class="button button-fill button-save" v-on:click="nextStep(1)">{{_("NEXT STEP")}}</div>
                </div>
              </div>
            </div>
            <div id="step-2" class="view tab view-main" :class="[index == 2 ? 'tab-active' : '']" v-else-if="index == 2">
              <device-gateway-setting-component
                :gateway="guid"
                :guid="guid"
                :type="2"
                config=""
                :ismobile="ismobile"
                ref="childRef"
                @child-event="handleChildEvent"
              ></device-gateway-setting-component>
              <div class="row" style="margin-bottom: 15px; margin-top: 15px">
                <div class="col">
                  <div class="button button-fill button-save" v-on:click="nextStep(2)">{{_("NEXT STEP")}}</div>
                </div>
              </div>
            </div>
            <div id="step-3" class="view tab view-main" :class="[index == 3 ? 'tab-active' : '']" v-else-if="index == 3">
              <div class="card">
                <div class="card-header" style="text-align: center">
                  <span>{{_(statusTitle)}}</span>
                </div>
                <div
                  class="card-content display-flex flex-direction-column justify-content-center align-content-center align-items-flex-start"
                >
                  <div
                    class="card-box display-flex flex-direction-row justify-content-center align-content-center align-items-center"
                    style="width: 100%"
                  >
                    <div class="signal-container">
                      <div class="signal-circle">
                        <i class="icon material-icons text-color-primary">wifi_tethering</i>
                      </div>
                      <div class="signal-wave wave1"></div>
                      <div class="signal-wave wave2"></div>
                      <div class="signal-wave wave3"></div>
                    </div>
                  </div>
                  <div
                    class="gateway-info-show display-flex flex-direction-row justify-content-center align-content-center align-items-center"
                    style="padding-left: 15px; padding-right: 15px; width: 320px"
                  >
                    <div class="display-flex">
                      <div class="mobmob" style="background-position: left top"></div>
                      <span>{{_("means online.")}}</span>
                    </div>
                    <div class="display-flex">
                      <div class="mobmob"></div>
                      <span>{{_("means offline.")}}</span>
                    </div>
                  </div>
                  <div class="timeline">
                    <div class="timeline-item" v-for="item in statusList" :key="item.id">
                      <div class="timeline-item-icon">
                        <i class="icon material-icons text-color-primary" v-if="item.status == 0">watch_later</i>
                        <i
                          class="icon material-icons text-color-primary"
                          style="background-color: var(--f7-theme-color); border-radius: 50%"
                          v-if="item.status == 3"
                        >
                          <img
                            src="https://api.iconify.design/svg-spinners:pulse-3.svg?color=%23fefbfb"
                            alt=""
                            style="color: #fff; width: 24px; height: 24px"
                          />
                        </i>
                        <i class="icon material-icons text-color-primary" v-if="item.status == 4">info</i>
                        <i
                          class="icon material-icons text-color-green"
                          style="background: #4cd964; border-radius: 50%; color: #fff !important"
                          v-if="item.status == 1"
                          >check_circle</i
                        >
                        <i
                          class="icon material-icons text-color-red"
                          style="background: #ff3b30; border-radius: 50%; color: #fff !important"
                          v-if="item.status == 2"
                          >cancel</i
                        >
                      </div>
                      <div class="timeline-item-content" style="word-break: break-all; word-wrap: break-word">{{_(item.title)}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 15px; margin-top: 15px">
                <div class="col">
                  <div class="button button-fill button-save" v-on:click="nextStep(3)">{{_("Compelete")}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endraw %}
    </div>
  </div>
</template>

<script>
  export default async (props, ctx) => {
    const $f7 = ctx.$f7,
      $f7route = ctx.$f7route,
      $update = ctx.$update,
      $on = ctx.$on,
      $onBeforeMount = ctx.$onBeforeMount,
      $onMounted = ctx.$onMounted,
      $onBeforeUpdate = ctx.$onBeforeUpdate,
      $onUpdated = ctx.$onUpdated,
      $onBeforeUnmount = ctx.$onBeforeUnmount,
      $onUnmounted = ctx.$onUnmounted;
    let { guid, device_name } = $f7route.query;
    let vueApp = null;
    const addNetwork = ()=>{
        vueApp.$addNetworks();
      }
    $on('pageMounted', (e, page) => {
      vueApp = new Vue({
        el: page.el.querySelector('#vue-app'),
        components: {
          DeviceNetworkListComponent: window.device_network_list_component,
          DeviceGatewaySettingComponent: window.device_gateway_setting_component,
        },
        data: {
          // data
          loadindex: false,
          guid: guid,
          ismobile: true,
          wifiStatus: 2,
          deviceNetworkStatus: false, //control device network is next step
          bluetooth_status: 1,
          index: 1,
          thisGateways: '',
          setting: {
            ssid: '',
            ssid_password: '',
            email: '',
            server_url: '',
            port: '',
            username: '',
            server_password: '',
          },
          mac_address: '',
          guid: guid,
          device_name: device_name,
          gatewayInfoShow: '',
          statusTitle: 'Mobile Connecting...',
          statusList: [
            {
              title: 'Check Gateway Network Status.',
              status: 0,
              id: 1,
            },
            {
              title: 'Get Gateway Information.',
              status: 0,
              id: 2,
            },
            {
              title: 'Device Gateway ID:',
              status: 0,
              id: 3,
            },
            {
              title: 'It takes a few minutes to complete the setup.',
              id: 4,
              status: 0,
            },
            {
              title: 'To skip,please click the below button to check at home page.',
              id: 5,
              status: 4,
              num: 0,
            },
          ],
          isSorting: false,
          will_topic : '',
        },
        computed: {},
        methods: {
          handleChildEvent(data) {
            console.log('data', data);
          },
          nextStep(index) {
            if (index == 1) {
              //emit the data to the child
              //emitter.emit('devic/network/next', { guid: this.guid });
              this.index = 2;
            } else if (index == 2) {
              this.$refs.childRef.syncGateways();
              return;
            }else if(index == 3){
              mainView.router.back();
              emitter.emit('refresh/mobile/as/hub',{guid : this.guid});
            }
          },
          addFun(){
            emitter.emit('devic/network/add', { guid: this.guid });
          },
          async checkMqttStatus() {
            let topic_self = this.guid;
            let will_topic = `will/${md5(md5(topic_self))}`;
            this.will_topic = will_topic;
            mqtt.subscribe(will_topic);
            if (this.$topicFun) {
              emitter.off(will_topic, this.$topicFun);
            }
            this.$topicFun = async (res) => {
              let message = res.message;
              if (message.includes('Online')) {
                this.statusList[0].status = 1;
                this.statusList[1].status = 1;
                try {
                  let url = encodeURI(`/api/method/appv6.checkDeviceGateways?guid=${this.guid}&platform=mobile`);
                  http
                    .request(url, {
                      method: 'GET',
                      responseType: 'json',
                    })
                    .then((res) => {
                      console.log('res', res);
                      if (res.data) {
                        let data = res.data.device_gateway;
                        this.statusList[2].status = 1;
                        this.statusList[2].title = _('Device Gateway ID:') + data.name;
                      }
                    })
                    .then(()=>{
                      this.statusList[3].title = _('Compelete');
                      this.statusList[3].status = 1;
                      //delete the list
                      this.statusList.splice(4, 1);
                      window.globalUpdate = true;
                    })
                    .catch(err=>{
                      this.statusList[2].status = 2;
                    })
                } catch (error) {
                  this.statusList[2].status = 2;
                }
              } else {
                this.statusList[0].status = 2;
              }
            };
            emitter.on(will_topic,this.$topicFun);
          },
          async checkConnectDone() {
            let topic_self = this.guid;
            let targetDeviceNum = 0;
            let devices = cloneDeep(erp.info.profile.profile_device);
            devices.forEach(item=>{
              if(item.gateway == topic_self){
                targetDeviceNum++;
              }
            })
            mqtt.subscribe('status/' + md5(md5(topic_self))).then(() => {
              core_mqtt_publish(
                'cmd/' + md5(md5(topic_self)),
                {
                  'command': 'Pubmsg',
                  'function': 'bleHelper.pubmsg',
                  'params': '',
                  'callback': '',
                  'raw': '',
                },
                0,
                false,
                false,
                false
              );
              emitter.off('status/' + md5(md5(topic_self)));
              emitter.on('status/' + md5(md5(topic_self)), (res) => {
                let message = JSON.parse(res.message);
                if (isset(message.Device)) {
                  let deviceobj = message.Device;
                  console.log(deviceobj);
                  //count the num of the device
                  this.statusList[3].status = 3;
                  let this_count = 0;
                  let default_connect = false;
                  //must check the default connect status
                  for (let i in deviceobj) {
                    if (deviceobj[i].manufacturing_data) {
                      this_count++;
                    }
                  }
                  //this.statusList[4].status = 4;
                  //this.statusList[4].title = `gateway已連接設備數為:${this_count}`;
                  if (targetDeviceNum == this_count) {
                    this.statusList[3].title = _('Compelete');
                    this.statusList[3].status = 1;
                    //delete the list
                    this.statusList.splice(4, 1);
                  } else {
                    //this.statusList[5].status = 2;
                  }
                  this.$forceUpdate();
                }
              });
            });
          },
        },
        computed: {
          // computed
        },
        watch: {
          index: function (newVal) {
            if (newVal == 1) {
              $(".mobile-as-hub-right").removeClass('device-none');
            } else {
              $(".mobile-as-hub-right").addClass('device-none');
            }
          },
        },
        created() {
          // created
        },
        mounted() {
          Vue.prototype.$addNetworks = this.addFun;
          emitter.off('devic/network/index');
          emitter.on('devic/network/index', (data) => {
            let code = data.code;
            if (code == 1) {
              //warnning the device
              app.dialog.confirm(
                `${_('Do you confirm that the device network configuration is complete?')}`,
                () => {
                  this.index = 2;
                },
                () => {}
              );
            }
          });
          if (this.$gatewaySyncFun) {
            emitter.off('gateway/sync', this.$gatewaySyncFun);
          }
          this.$gatewaySyncFun = (data) => {
            let code = data.code;
            console.log(code)
            if (code == 1) {
              this.index = 3;
              this.checkMqttStatus();
            }
          };
          emitter.on('gateway/sync', this.$gatewaySyncFun);
        },
        updated() {
          // updated
        },
        beforeDestroy() {
          //emitter.off(this.$topic,this.$topicFun);
          emitter.off('gateway/sync', this.$gatewaySyncFun);
          emitter.off(this.will_topic, this.$topicFun);
          emitter.off('devic/network/add',this.$addNetwork);
          // beforeDestroy
        },
        destroyed() {
          // destroyed
        },
      });
    });
    $on('pageBeforeRemove', (e, page) => {
      if (vueApp) {
        vueApp.$destroy();
      }
    });
    return $render;
  };
</script>

<style>
  .device-none{
    display: none!important;
  }
  .timeline-item-content {
    position: relative;
    top: -5px;
  }
  .timeline-item-icon {
    position: relative;
    width: 10px;
    height: 10px;
    background: #bbb;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 3px var(--f7-timeline-divider-margin-horizontal) 0;
  }
  .timeline-item-icon i {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
  }
  .timeline-item-icon:after {
    top: 100%;
  }
  .timeline-item-icon:after,
  .timeline-item-icon:before {
    content: ' ';
    width: 1px;
    height: 100vh;
    position: absolute;
    left: 50%;
    background: inherit;
    transform: translate3d(-50%, 0, 0);
  }
  .signal-container {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signal-icon img {
    width: 50px; /*  */
    height: auto;
    z-index: 2; /*  */
  }

  .signal-wave {
    border-radius: 50%;
    position: absolute;
    border: 2px solid #007bff;
    animation: signalAnimation 3s infinite;
    opacity: 0;
  }

  .wave1 {
    animation-delay: 0s;
  }
  .wave2 {
    animation-delay: 1s;
  }
  .wave3 {
    animation-delay: 2s;
  }

  @keyframes signalAnimation {
    from {
      width: 0;
      height: 0;
      opacity: 0.5;
    }
    to {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
</style>
