<template>
  <div class="page">
    <div class="navbar active">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="button button-fill text-color-theme bg-color-white button-44 back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">{{ _('Network List') }}</div>
        <div class="right scene-list-right">
          <a href="/mobile-app/device-network-unassigned-detail" class="link icon-only">
            <i class="icon material-icons md-only">restart_alt</i>
          </a>
        </div>
      </div>
    </div>

    <div class="page-content ptr-content" style="height: 100%" @ptr:refresh="${refresh}">
      <div class="ptr-preloader">
        <div class="preloader"></div>
        <div class="ptr-arrow"></div>
      </div>
      {% raw %}
      <div id="vue-app" v-cloak>
        <div class="list ha-guide-list">
          <ul>
            <li class="swipeout scene swipeout-delete-manual" v-for="(item,index) in networkList" :key="index">
              <div class="card swipeout-content no-shadow no-border bg-color-gray margin-bottom overflow-hidden text-color-white h-110">
                <div class="overlay"></div>
                <div
                  class="coverimg width-100 position-absolute lazy lazy-fade-in"
                  :style="{'height': '100%','background-size': 'cover','background-image': 'url('+frappe_get_url(item.image)+')'}"
                ></div>
                <div class="card-content card-content-padding">
                  <div
                    class="template-info"
                    style="
                      text-shadow:
                        1px 1px 2px grey,
                        0 0 2px black,
                        0 0 2px grey;
                    "
                  >
                    
                  </div>
                  <div class="item-content">
                    <div class="item-inner">
                      <div
                        class="h5 d-block text-color-white margin-bottom-half"
                        style="
                          text-shadow:
                            1px 1px 2px grey,
                            0 0 2px black,
                            0 0 2px grey;
                        "
                      >
                        {{_(item.title)}}
                      </div>
                    </div>
                    <div class="item-after">
                      <a
                        class="button button-small button-round button-fill icon-button"
                        v-on:click="toDetail(item)"
                        style="width: 40px; height: 40px; border-radius: 50%"
                      >
                        <i class="f7-icons" style="font-size: 18px">doc_text_search</i>
                      </a>
                      <a
                        class="button button-small button-round button-fill icon-button"
                        style="background-color: red; margin-left: 10px; width: 40px; height: 40px; border-radius: 50%"
                        v-on:click="onDeleted(index)"
                      >
                        <i class="icon material-icons" style="font-size: 20px">delete</i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="device-null" v-if="networkList.length == 0">
          <div class="block" style="text-align: center">
            <span class="material-icons" style="font-size: 100px; color: #ddd">meeting_room</span>
            <p>${_('You don\'t have any network batch, create one')}</p>
          </div>
          <div class="block block-strong">
            <p class="row">
              <a class="col button button-large" v-on:click="createNetwork()">{{ _('Create Network') }}</a>
            </p>
          </div>
        </div>
        <div class="fab fab-right-bottom">
          <a style="text-align: center" v-on:click="createNetwork()">
            <i class="icon material-icons">add</i>
          </a>
        </div>
      </div>
      {% endraw %}
    </div>
  </div>
</template>

<script>
  export default async (props, ctx) => {
    const $f7 = ctx.$f7,
      $f7route = ctx.$f7route,
      $onUnmounted = ctx.$onUnmounted,
      $on = ctx.$on;

    let vueApp = null;
    let { guid, subdevice_name } = $f7route.query;
    const refresh = async (e, done) => {
      await ha_profile_ready();
      vueApp.$init();
      done();
    };
    const downloadBle = async () => {
      vueApp.$download();
    };
    $on('pageMounted', (e, page) => {
      vueApp = new Vue({
        el: page.el.querySelector('#vue-app'),
        data: {
          sceneList: [],
          networkList: [],
          localTrigerSceneList: [],
          localActionSceneList: [],
          sheetMap: {},
        },
        computed: {},
        beforeDestroy() {
          console.log('beforeDestroy');
          emitter.off('refresh');
          emitter.off('device_network_update');
          //emitter.off('set_timmer');
        },
        mounted() {
          Vue.prototype.$init = this.initNetwork;
          Vue.prototype.$download = this.download;
          this.initNetwork();
          this.scan();
          emitter.on('refresh', (data) => {
            this.initNetwork();
          });
          setTimeout(()=>{
            emitter.on('device_network_update', (data) => {
            
              this.initNetwork();
            });
          },500)
        },
        methods: {
          async onDeleted(index) {
            //check if have mutiway devices,can not del
            let devices = cloneDeep(erp.info.profile.profile_device);
            let networkMap = this.networkList[index];
            let network_id = networkMap.index;
            let delStatus = true;
            devices.forEach(item=>{
              if(isset(item.network_1)){
                let mapList = JSON.parse(item.network_1);
                 if(mapList.length){
                  let idList = mapList.map((zitem) => parseInt(zitem.network_id));
                  let checkIndex = idList.indexOf(parseInt(network_id));
                  if(checkIndex != -1){
                    delStatus = false;
                  }
                 }
              }
            })
            if(!delStatus){
              app.dialog.alert(`${_('The network includes gateway devices and cannot be deleted in bulk')}`)
              return
            }
            app.dialog.confirm(
              `${_('Confirm Deletion?')}`,
              async () => {
                app.dialog.preloader();
                console.log(index);
                devices.forEach((item) => {
                  if (parseInt(item.network_id) == parseInt(network_id)) {
                    item.network_id = 0;
                  }
                });
                try {
                  await http2.request(encodeURI('/api/resource/Profile/' + erp.info.profile.name), {
                    method: 'PUT',
                    responseType: 'json',
                    dataType: 'json',
                    responseType: 'json',
                    serializer: 'json',
                    timeout: 60,
                    data: {
                      profile_device: devices,
                    },
                  });
                  app.dialog.close();
                  erp.info.profile.profile_device = devices;
                  //save the ble command
                  mainView.router.refreshPage();

                  //this.initNetwork();
                } catch (error) {
                  app.dialog.close();
                  app.dialog.alert(error);
                }
                this.networkList.splice(index, 1);
              },
              () => {}
            );
          },
          async initNetwork() {
            this.networkList = [];
            let profileDevices = cloneDeep(erp.info.profile.profile_device);
            let networkMap = {};
            profileDevices.forEach((item) => {
              if (isset(networkMap[`${item.network_id}`])) {
                networkMap[`${item.network_id}`]++;
              } else {
                networkMap[`${item.network_id}`] = 1;
              }
            });
            for (let i in networkMap) {
              if (i != 0) {
                this.networkList.push({
                  title: _('Network') + ` ${i}`,
                  index: i,
                  count: networkMap[i],
                  image: `https://dev.mob-mob.com/files/network.jpeg`,
                });
              }
            }
          },
          async createNetwork() {
            //get the profile network
            let index = this.networkList.length ? 1 : 0;
            this.networkList.forEach((item) => {
              if (parseInt(item.index) > 1) {
                index = parseInt(item.index);
              }
            });
            mainView.router.navigate(`/mobile-app/device-network-detail?network_index=${index + 1}&edit=0`);
            // this.networkList.push({
            //   title : _('Network')+` ${index+1}`,
            //   index : index+1,
            //   count : 0,
            //   image : `https://dev.mob-mob.com/files/scene.jpg`
            // })
          },
          toDetail(item) {
            mainView.router.navigate(`/mobile-app/device-network-detail?network_index=${item.index}&edit=1`);
          },
          async scan() {
            await bleManager.stopScan();
            await bleManager.wait(200);
            bleManager.scan(this.onDiscovery, async () => {
              await bleManager.wait(5000);
              this.scan();
            });
          },
          async onDiscovery(p) {
            if (!isset(p)) {
              return;
            }
            setTimeout(() => {
              if (!isset(peripheral[p.guid])) {
                peripheral[p.guid] = new Peripheral(p);
              }
              emitter.emit('ha_network_update_status',{p:p});
            }, 10);
          },
        },
      });
    });

    $on('pageBeforeRemove', (e, page) => {});

    $onUnmounted(() => {
      if (vueApp) {
        vueApp.$destroy();
      }
    });

    return $render;
  };
</script>

<style>
  .device-hidden {
    display: none !important;
  }
  .template-info {
    font-size: 12px;
    text-align: right;
    margin-bottom: 10px;
  }
  .radio-box {
    height: 75px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .item-radio {
    height: 100%;
  }
  .timer-item {
    height: 100%;
    padding-right: 10px;
  }
  .list ul::before,
  .list ul::after {
    content: none;
  }
  .fab-right-bottom {
    position: fixed;
  }
</style>
