<template>
  <div class="page">
    <div class="navbar active">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="button button-fill text-color-theme bg-color-white button-44 back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">{{ _('Learn Code') }}</div>
        <div class="right">
          <a class="link icon-only" @click="${()=>toHelp()}">
            <i class="icon material-icons md-only">help</i>
          </a>
        </div>
      </div>
    </div>

    <div class="page-content">
      {% raw %}
      <div id="vue-app" v-cloak>
        <div class="main-box">
          <div class="tabs">
            <div id="step-1" class="view tab view-main" :class="[index == 1 ? 'tab-active' : '']" v-if="index == 1">
              <div class="card">
                <div class="card-content card-content-padding">
                  <div class="auto-status-text margin-top" style="text-align: center">
                    {{ _('Please click the button below to learn the code.') }}
                  </div>
                  <div class="display-flex justify-content-space-between" style="flex-wrap: wrap" v-if="panelConfig.length > 0">
                    <div
                      :class="{'ir-item':true,'popup-open':true}"
                      v-for="(configItem,configIndex) in panelConfig"
                      :key="configItem.id"
                      :style="{'position':'relative','width' : 'calc('+configItem.width+'%)','margin-top' : '15px'}"
                      v-on:click="showPopup(configIndex)"
                      data-popup=".demo-popup-swipe-handler"
                      v-if="!configItem.isDelete"
                    >
                      <a
                        href="#"
                        :class="{'button':true,'button-large':true,'button-raised':configItem.key?true:false,'bg-theme':configItem.code?true:false}"
                        style="padding: 30px 0px"
                      >
                        <i class="icon material-icons" style="font-size: 30px" v-if="configItem.icon">{{configItem.icon}}</i>
                        <span v-else>{{configItem.name}}</span>
                      </a>
                      <i
                        class="icon material-icons text-color-white"
                        style="position: absolute; top: 5px; right: 5px"
                        v-if="configItem.code"
                        >check</i
                      >
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: 15px; margin-top: 30px">
                    <div class="col">
                      <div class="button button-fill button-save" v-on:click="addModel()">{{_("ADD MODEL")}}</div>
                    </div>
                    <div class="col">
                      <div class="button button-fill button-save" v-on:click="saveButtonGroupAndDeviceCommand()">{{_("APPLY")}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- popup -->
          <div class="popup demo-popup-swipe-handler">
            <div class="page">
              <div class="swipe-handler"></div>
              <div class="page-content">
                <div class="card">
                  <div class="card-header" style="font-weight: 500; font-size: 18px">{{_("Button And Setting")}}</div>
                  <div class="card-content card-content-padding">
                    <div class="list no-hairlines-md" style="margin: 10px 0">
                      <ul>
                        <li class="item-content item-input swipeout">
                          <div class="item-inner">
                            <div
                              class="item-title item-label"
                              style="font-size: var(--f7-block-title-font-size, inherit); color: var(--f7-block-title-text-color)"
                            >
                              {{ _("Button Name") }}
                            </div>
                            <div class="item-input-wrap">
                              <input
                                class="init-input"
                                name="title"
                                type="text"
                                :placeholder="_('Button Name')"
                                required
                                v-model="panelConfig[configIndex].name"
                              />
                            </div>
                          </div>
                        </li>
                        <!-- width -->
                        <li class="item-content item-input">
                          <div class="item-inner">
                            <div
                              class="item-title item-label"
                              style="font-size: var(--f7-block-title-font-size, inherit); color: var(--f7-block-title-text-color)"
                            >
                              {{ _('Width')}}
                            </div>
                            <div class="item-input-wrap input-dropdown-wrap">
                              <select name="width" placeholder="" lang="en" v-model="panelConfig[configIndex].width">
                                <option :selected="panelConfig[configIndex].width == 30">30</option>
                                <option :selected="panelConfig[configIndex].width == 47">47</option>
                                <option :selected="panelConfig[configIndex].width == 100">100</option>
                              </select>
                            </div>
                          </div>
                        </li>
                        <li class="item-content item-input">
                          <div class="item-inner">
                            <div
                              class="item-title item-label"
                              style="font-size: var(--f7-block-title-font-size, inherit); color: var(--f7-block-title-text-color)"
                            >
                              {{ _("Command") }}
                            </div>
                            <div class="item-input-wrap">
                              <input
                                class="init-input"
                                name="title"
                                type="text"
                                :placeholder="_('Learn Command')"
                                required
                                readonly
                                v-model="panelConfig[configIndex].code"
                              />
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="row" style="margin-bottom: 15px; margin-top: 30px">
                      <div class="col">
                        <div class="button button-fill button-save" v-on:click="toStudy()">{{_("Learn")}}</div>
                      </div>
                      <div class="col">
                        <div class="button button-fill button-save" v-on:click="toTest()">{{_("Test")}}</div>
                      </div>
                    </div>
                    <div class="row" style="margin-bottom: 15px; margin-top: 30px">
                      <div class="col">
                        <div class="button button-fill button-save" v-on:click="deletePanelItem()">{{_("DELETE")}}</div>
                      </div>
                      <div class="col">
                        <div class="button button-fill button-save" v-on:click="saveConfig()">{{_("SAVE")}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- popup end -->
        </div>
      </div>
      {% endraw %}
    </div>
  </div>
</template>

<script>
  export default async (props, ctx) => {
    const $f7 = ctx.$f7,
      $f7route = ctx.$f7route,
      $onUnmounted = ctx.$onUnmounted,
      $on = ctx.$on;
    let { device_type, guid } = $f7route.query;
    let vueApp = null;
    const toHelp = () => {
      vueApp.$toHelp();
    };
    $on('pageMounted', (e, page) => {
      vueApp = new Vue({
        el: page.el.querySelector('#vue-app'),
        data: {
          index: 1,
          configIndex: 0,
          learnCode: '',
          deviceType: device_type,
          profileRoom: [],
          panelConfig: [{ 'name': '' }],
        },
        watch: {},
        computed: {},
        mounted() {
          Vue.prototype.$toHelp = this.$toHelp;
          emitter.on('disconnected', (data) => {
            let thisId = window.peripheral[guid].prop.id;
            if (data.id == thisId) {
              //device is disconnected
              app.dialog.close();
              app.dialog.alert(`${_('Sorry,device is disconnected,retry please.')}`);
            }
          });
          this.init();
        },
        methods: {
          $toHelp() {
            app.dialog.alert(
              `${_('Please note that the air conditioner only supports learning all the states of the remote control after being pressed, including (temperature, mode, fan speed, etc.), and does not support function codes such as mode switching, temperature adjustment, fan speed adjustment, etc. It is suggested to learn a few commonly used templates.')}`
            );
          },
          init() {
            if (this.deviceType == 1) {
              // this.initDataBaseCode(remote_id);
              this.panelConfig = [
                {
                  'name': 'ON',
                  'icon': '',
                  'width': '47',
                  'key': '-1',
                  'code': '',
                  'isDelete': false,
                },
                {
                  'name': 'OFF',
                  'icon': '',
                  'width': '47',
                  'key': '-1',
                  'code': '',
                  'isDelete': false,
                },
                {
                  'name': 'MODEL',
                  'icon': '',
                  'width': '47',
                  'key': '-1',
                  'code': '',
                  'isDelete': false,
                },
                {
                  'name': 'MODEL',
                  'icon': '',
                  'width': '47',
                  'key': '-1',
                  'code': '',
                  'isDelete': false,
                },
              ];
            } else {
              let list = ir_for_irext_key_mapping()[this.deviceType]['button'];
              list.forEach((item) => {
                item.isDelete = false;
                item.code = '';
              });
              this.panelConfig = list;
            }
            app.popup.create({
              el: '.demo-popup-swipe-handler',
              swipeToClose: true,
              push: true,
            });
          },
          async initDataBaseCode(remote_id) {
            let db = await initIrDataBase('irext_db_sqlite.db');
            let sql = `SELECT key_number,key_value FROM decode_remote WHERE remote_index_id = ${remote_id}`;
            let rs = await this.irSqliteExecuteSql(db, sql);
            this.panelConfig.forEach((item, index) => {
              item.code = '';
              let key_index = item.key;
              if (key_index != '') {
                let key_value_map = rs.find((item) => item.key_number == key_index);
                if (key_value_map) {
                  let key_value_list = key_value_map.key_value.split(',');
                  for (let i = 0; i < key_value_list.length; i++) {
                    let code = key_value_list[i];
                    if (code) {
                      let hexCode = iot_utils_to_little_endian_hex(code, 2);
                      item.code += hexCode;
                    }
                  }
                  if (item.code) {
                    item.code = `97210700${item.code}3075`;
                  }
                }
              }
            });
            console.log('this.panelConfig', this.panelConfig);
          },
          irSqliteExecuteSql(db, sql, params = []) {
            return new Promise((resolve, reject) => {
              db.executeSql(
                sql,
                params,
                (resultSet) => {
                  let list = [];
                  for (let i = 0; i < resultSet.rows.length; i++) {
                    list.push(Object.assign({ isChecked: false }, resultSet.rows.item(i)));
                  }
                  resolve(list);
                },
                (error) => {
                  reject(error);
                }
              );
            });
          },
          showPopup(index) {
            this.configIndex = index;
          },
          async saveButtonGroupAndDeviceCommand() {
            //check the code is already learned
            let codeMap = this.panelConfig.find((item) => item.code == '' && !item.isDelete && item.key != '');
            if (codeMap) {
              app.dialog.alert(_('Please learn the code first.'));
              return;
            }
            emitter.emit(
              'ir_panel_config_learn_r2w',
              this.panelConfig.filter((item) => !item.isDelete)
            );
            mainView.router.back();
          },
          saveConfig() {
            //check if the name too long
            let name = this.panelConfig[this.configIndex].name;
            if (name.length > 7) {
              app.dialog.alert(_('The name is too long, please enter a shorter name.'));
              return;
            }
            if (name == '') {
              app.dialog.alert(_('Please enter the name.'));
              return;
            }
            if (this.panelConfig[this.configIndex].code == '') {
              app.dialog.alert(_('Please learn the code first.'));
              return;
            }
            app.popup.close();
          },
          showCode(rs) {
            this.learnCode = '';
            Vue.set(this.panelConfig[this.configIndex], 'code', rs);
          },
          addModel() {
            this.panelConfig.push({
              'name': 'MODEL',
              'icon': '',
              'width': '47',
              'key': '-1',
            });
          },
          deletePanelItem() {
            console.log('deletePanelItem', this.configIndex);
            console.log('this.panelConfig', this.panelConfig);
            this.panelConfig[this.configIndex].isDelete = true;
            app.popup.close();
          },
          removePanelItem(index, ev) {
            if (ev) {
              ev.preventDefault();
              if (typeof ev.stopImmediatePropagation === 'function') ev.stopImmediatePropagation();
              ev.stopPropagation();
            }
            this.panelConfig.splice(index, 1);
          },
          async toStudy() {
            //auto to matching
            console.log('toStudy');
            let errorStatus = false;
            app.dialog.preloader(`${_('Preparing, please wait...')}`);
            try {
              await window.peripheral[guid].connect();
              if (!this._sendIrCodeFun) {
                this._sendIrCodeFun = (data) => {
                  console.log('learneddata', data);
                  let rs = data.rs;
                  if (data.guid == guid && rs.length > 8) {
                    if (rs.substring(6, 8) == '00') {
                      // 获取到数据后立即清除监听器，避免重复处理
                      emitter.off(`ir_learned_code`, this._sendIrCodeFun);
                      this._sendIrCodeFun = null;
                      this.learnCode = `97210700${this.learnCode ? this.learnCode : ''}${rs.substring(8, rs.length)}`;
                      app.dialog.close();
                      this.showCode(this.learnCode);
                    } else {
                      this.learnCode += rs.substring(8, rs.length);
                    }
                  }
                };
              }

              emitter.off(`ir_learned_code`, this._sendIrCodeFun);
              emitter.on(`ir_learned_code`, this._sendIrCodeFun);
              let data = '972107';
              await window.peripheral[guid].write([
                {
                  service: 'ff80',
                  characteristic: 'ff81',
                  data: data,
                },
              ]);
              app.dialog.close();
              //check the times of the study
              let title = `${_('Please press the corresponding remote control button based on the key function.')}`;
              app.dialog.preloader(title);
            } catch (err) {
              app.dialog.close();
              app.dialog.alert(_(erp.get_log_description(err)));
            }
          },
          async sendLongCommand(command) {
            return new Promise(async (resolve, reject) => {
              /*
              模拟发送过程
              1.首先发送校验代码
              2.隔1秒后开始发送分包指令
              3.发完后隔500毫秒发送结束指令
              */
              const commandReady = () => {
                const binaryBuffer = hexToBuffer(command);
                const md5str = SparkMD5.ArrayBuffer.hash(binaryBuffer);
                let sizeHex = iot_utils_to_little_endian_hex(command.length / 2, 4);
                let nameHex = convertToFixedSizeHex(`ir_command`, 31);
                let readyData = `933300003403${sizeHex}${md5str}${nameHex}`;
                return ble.writeWithoutResponse(
                  window.peripheral[guid].prop.id,
                  'ff80',
                  'ff85',
                  readyData.convertToBytes(),
                  () => {},
                  (error) => {}
                );
              };
              const commandAction = async () => {
                return new Promise(async (actionResolve, actionReject) => {
                  let mainChunkSizeInBytes = 4096;
                  let negotiatedMTU = 180;
                  let data = command.convertToBytes();
                  let newArray = [];
                  for (let i = 0; i < data.byteLength; i += mainChunkSizeInBytes) {
                    let subChunk = data.slice(i, Math.min(i + mainChunkSizeInBytes, data.byteLength));
                    let hexString = arrayBufferToHex(subChunk);
                    // 直接基于原始字节计算 MD5，避免字符串编码问题
                    let md5str = SparkMD5.ArrayBuffer.hash(subChunk);
                    let newData = hexToBuffer(hexString + md5str);
                    newArray.push(newData);
                  }
                  let this_index = 0;
                  let subChunks = [];
                  let postBleDataList = [];
                  for (let j in newArray) {
                    let obj = {
                      index: j,
                      subChunks: [],
                      sendStatus: false,
                    };
                    const subChunkSizeInBytes = negotiatedMTU;
                    let offsetItem = 0;
                    for (let i = 0; i < newArray[j].byteLength; i += subChunkSizeInBytes) {
                      const subChunk = newArray[j].slice(i, Math.min(i + subChunkSizeInBytes, newArray[j].byteLength));
                      subChunks.push(subChunk);
                      obj.subChunks.push({
                        item: subChunk,
                        index: this_index,
                        status: false,
                        offsetItem: offsetItem,
                      });
                      offsetItem += 502;
                    }
                    if (this_index > j) {
                      subChunks.push(false);
                    }
                    postBleDataList.push(obj);
                    this_index++;
                  }
                  let offset = 0;
                  let postIndex = 0;
                  for (let i in postBleDataList) {
                    let list = postBleDataList[i].subChunks;
                    let offsetItem = 0;
                    for (let j in list) {
                      let hexString = arrayBufferToHex(list[j].item);
                      let commandLength = (hexString.length / 2 + 4).toString(16);
                      commandLength = commandLength.padStart(4, '0');
                      let command = `933400${commandLength}${iot_utils_to_little_endian_hex(offsetItem, 4)}${hexString}`;
                      console.log('command', command);
                      await ble.writeWithoutResponse(
                        window.peripheral[guid].prop.id,
                        'ff80',
                        'ff85',
                        command.convertToBytes(),
                        function (response) {
                          console.log('response', response);
                        },
                        function (error) {
                          actionReject(error);
                        }
                      );
                      await this.sleep(500);
                      if (postIndex == postBleDataList.length - 1 && j == list.length - 1) {
                        console.log('9335');
                        setTimeout(() => {
                          ble.writeWithoutResponse(
                            window.peripheral[guid].prop.id,
                            'ff80',
                            'ff85',
                            '9335'.convertToBytes(),
                            function (response) {
                              console.log('response', response);
                              actionResolve(true)
                            },
                            function (error) {
                              actionReject(error);
                            }
                          );
                        }, 500);
                      }
                      offsetItem += negotiatedMTU;
                    }
                    postIndex++;
                  }
                });
              };
              try {
                app.dialog.preloader(_('Sending, please wait...'));
                await commandReady();
                await this.sleep(500);
                await commandAction();
                app.dialog.close();
              } catch (error) {
                app.dialog.close();
                reject(error);
              }
            });
          },
          async toTest() {
            const TAG = 'iot_ir_test';
            console.log(TAG);
            let code = this.panelConfig[this.configIndex].code;
            if (!code) {
              app.dialog.alert(_('Sorry, the infrared code has not been learned yet.'));
              return;
            }
            let this_data = code;
            try {
              if(this_data.length > 1008){
                await this.sendLongCommand(this_data);
              }else{
                await window.peripheral[guid].write([
                  {
                    service: 'ff80',
                    characteristic: 'ff81',
                    data: this_data,
                  },
                ]);
              }
            } catch (error) {
              app.dialog.alert(_(erp.get_log_description(error)));
            }
          },
          async sleep(ms) {
            return new Promise((resolve) => setTimeout(resolve, ms));
          },
        },
        beforeDestroy() {
          emitter.off('disconnected');
          emitter.off(`ir_panel_config_edit`, this._irPanelConfigEdit);
        },
      });
    });

    $on('pageBeforeRemove', (e, page) => {});

    $onUnmounted(() => {
      if (vueApp) {
        vueApp.$destroy();
      }
    });

    return $render;
  };
</script>

<style>
  .device-type-list {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .device-type-list-item {
    float: left;
    width: 50%;
    overflow: hidden;
    display: block;
    border-bottom: solid 1px #e6e6e6;
    overflow: hidden;
    background-repeat: no-repeat;
    padding: 30px 0px;
    background-color: #fff;
  }

  .device-type-list-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .device-type-list-item img {
    height: 30px;
    background-repeat: no-repeat;
    background-size: auto 30px;
    display: block;
    margin-bottom: 10px;
  }

  .device-type-list-item span {
    color: #676767;
    text-align: center;
  }

  .device-type-list-item:nth-child(odd) {
    border-right: solid 1px #e6e6e6;
  }
  .ir-click-button {
    display: inline-block;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    line-height: 35px;
  }
  .bg-theme {
    background-color: var(--f7-theme-color);
    color: #fff;
  }
  .bg-theme a {
    color: #fff;
  }
</style>
