<template>
  <div class="page">
    <div class="navbar active">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="button button-fill text-color-theme bg-color-white button-44 back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">{{ _('Gateway Configuration') }}</div>
        <div class="right frappe-detail-right"></div>
      </div>
    </div>

    <div class="page-content">
      {% raw %}
      <div id="vue-app">
        <div>
          <div class="block mx-3 margin-top">
            <p class="segmented segmented-strong">
              <button class="button step-one" :class="index == 1?'button-active button':'button'" v-on:click="toTab(1)">Step 1</button>
              <button class="button step-two" :class="index == 2?'button-active button':'button'" v-on:click="toTab(2)">Step 2</button>
              <button class="button step-three" :class="index == 3?'button-active button':'button'" v-on:click="toTab(3)">
                Step 3
              </button>
              <button class="button step-three" :class="index == 4?'button-active button':'button'" v-on:click="toTab(4)">
                Step 4
              </button>
              <span class="segmented-highlight"></span>
            </p>
          </div>
          <div class="tabs">
            <div id="step-1" class="view tab view-main" :class="[index == 1 ? 'tab-active' : '']" v-if="index == 1">
              <device-wifi-setting-component :gateway="gateway" :guid="guid" :device_name="device_name" :type="2" ref="wifiChildRef"></device-wifi-setting-component>
              <div class="card" style="display: none;">
                <div class="card-header" style="text-align: center;">
                  <div class="wifi-img">
                    <i class="icon material-icons text-color-primary text-color-green" v-if="wifiStatus == 1" style="font-size: 50px;">wifi</i>
                    <i class="icon material-icons text-color-primary text-color-red" v-if="wifiStatus == 2" style="font-size: 50px;">wifi_off</i>
                  </div>
                  <div class="wifi-title text-color-green" v-if="wifiStatus == 1">Connected</div>
                  <div class="wifi-title text-color-red" v-if="wifiStatus == 2">Not Connected</div>
                </div>
                <div class="card-content card-content-padding" style="padding-top: 0">
                  <div>
                    <div class="list">
                      <ul>
                        <li class="item-content item-input no-padding-left">
                          <div class="item-inner no-padding-right">
                            <div class="item-title item-label" lang="en" style="font-size: 16px;">Ssid <span class="text-color-red" style="font-size: 12px;">( {{wifi_tip}} )</span></div>
                            <div class="item-input-wrap">
                              <input type="text" name="ssid" v-model="setting.ssid" :placeholder="ssid" required validate />
                            </div>
                          </div>
                        </li>
                        <li class="item-content item-input no-padding-left">
                          <div class="item-inner no-padding-right">
                            <div class="item-title item-label" lang="en" style="font-size: 16px;">Password</div>
                            <div class="item-input-wrap">
                              <input
                                type="text"
                                name="password"
                                v-model="setting.ssid_password"
                                :placeholder="password_name"
                                required
                                validate
                              />
                            </div>
                          </div>
                        </li>
                        <li class="item-content item-input no-padding-left" style="display: none;">
                          <div class="item-inner no-padding-right">
                            <div class="item-title item-label">{{email}}</div>
                            <div class="item-input-wrap">
                              <input type="email" name="email" v-model="setting.email" :placeholder="email" required validate />
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" style="display: none">
                <div class="card-header">
                  <div class="row">
                    <div class="col-100">
                      <h5 lang="en">Server Configuration</h5>
                    </div>
                  </div>
                </div>
                <div class="card-content card-content-padding">
                  <div>
                    <div class="list">
                      <ul>
                        <li class="item-content item-input no-padding-left">
                          <div class="item-inner no-padding-right">
                            <div class="item-title item-label">{{email}}</div>
                            <div class="item-input-wrap">
                              <input type="email" name="email" v-model="setting.email" :placeholder="email" required validate />
                            </div>
                          </div>
                        </li>
                        <li class="item-content item-input no-padding-left">
                          <div class="item-inner no-padding-right">
                            <div class="item-title item-label">{{server_url}}</div>
                            <div class="item-input-wrap">
                              <input type="text" name="server_url" v-model="setting.server_url" :placeholder="server_url" required />
                            </div>
                          </div>
                        </li>
                        <li class="item-content item-input no-padding-left">
                          <div class="item-inner no-padding-right">
                            <div class="item-title item-label">{{port}}</div>
                            <div class="item-input-wrap">
                              <input type="number" name="port" v-model="setting.port" :placeholder="port" required />
                            </div>
                          </div>
                        </li>
                        <li class="item-content item-input no-padding-left">
                          <div class="item-inner no-padding-right">
                            <div class="item-title item-label">{{username}}</div>
                            <div class="item-input-wrap">
                              <input type="text" name="username" v-model="setting.username" :placeholder="username" />
                            </div>
                          </div>
                        </li>
                        <li class="item-content item-input no-padding-left">
                          <div class="item-inner no-padding-right">
                            <div class="item-title item-label">{{server_password}}</div>
                            <div class="item-input-wrap">
                              <input type="text" name="server_password" v-model="setting.server_password" :placeholder="server_password" />
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 15px">
                <div class="col">
                  <div class="button button-fill button-save" v-on:click="toTab(2)">NEXT STEP</div>
                </div>
              </div>
            </div>
            <div id="step-2" class="view tab view-main" :class="[index == 3 ? 'tab-active' : '']" v-else-if="index == 3">
              <device-gateway-setting-component :gateway="gateway" :guid="guid" :type="2" ref="childRef" @child-event="handleChildEvent"></device-gateway-setting-component>
              <div class="row" style="margin-bottom: 15px;margin-top: 15px;">
                <div class="col">
                  <div class="button button-fill button-save" v-on:click="toTab(4)">NEXT STEP</div>
                </div>
              </div>
            </div>
            <div id="step-3" class="view tab view-main" :class="[index == 2 ? 'tab-active' : '']" v-else-if="index == 2">
              <device-network-component :type="2" ref="deviceNetworkChildRef"></device-network-component>
              <div class="row" style="margin-bottom: 15px;margin-top: 15px;">
                <div class="col">
                  <div class="button button-fill button-save" v-on:click="toTab(3)">NEXT STEP</div>
                </div>
              </div>
            </div>
            <div id="step-4" class="view tab view-main" :class="[index == 4 ? 'tab-active' : '']" v-else-if="index == 4">
              <div class="card">
                <div class="card-header" style="text-align: center;">
                  <span>{{statusTitle}}</span>
                </div>
                <div class="card-content display-flex flex-direction-column justify-content-center align-content-center align-items-flex-start">
                  <div class="card-box display-flex flex-direction-row justify-content-center align-content-center align-items-center" style="width: 100%;">
                    <div class="signal-container">
                      <div class="signal-circle">
                        <i class="icon material-icons text-color-primary">wifi_tethering</i>
                      </div>
                      <div class="signal-wave wave1"></div>
                      <div class="signal-wave wave2"></div>
                      <div class="signal-wave wave3"></div>
                    </div>
                  </div>
                  <div class="gateway-info-show display-flex flex-direction-row justify-content-center align-content-center align-items-center" style="padding-left: 15px;padding-right: 15px;width: 320px;">
                    <p class="display-flex" style=""><div class="mobmob" style="background-position:left top"></div><span>means online.</span></p>
                    <p class="display-flex" style=""><div class="mobmob"></div><span>means offline.</span></p>
                  </div>
                  <div class="timeline">
                    <div class="timeline-item" v-for="item in statusList" :key="item.id">
                      <div class="timeline-item-icon">
                        <i class="icon material-icons text-color-primary" v-if="item.status == 0">watch_later</i>
                        <i class="icon material-icons text-color-primary" style="background-color: var(--f7-theme-color);border-radius: 50%;" v-if="item.status == 3">
                          <img src="https://api.iconify.design/svg-spinners:pulse-3.svg?color=%23fefbfb"
                           alt="" style="color: #fff;width: 24px;height: 24px;"/>
                        </i>
                        <i class="icon material-icons text-color-primary" v-if="item.status == 4">info</i>
                        <i class="icon material-icons text-color-green" style="background:#4cd964;border-radius: 50%;color: #fff!important;" v-if="item.status == 1">check_circle</i>
                        <i class="icon material-icons text-color-red" style="background:#ff3b30;border-radius: 50%;color: #fff!important;" v-if="item.status == 2">cancel</i>
                      </div>
                      <div class="timeline-item-content" style="word-break:break-all;word-wrap:break-word;">
                        {{tran(item.title)}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 15px;margin-top: 15px;">
                <div class="col">
                  <div class="button button-fill button-save" v-on:click="toTab(5)">Compelete</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endraw %}
    </div>
  </div>
</template>

<script>
  export default async (props, ctx) => {
    const $f7 = ctx.$f7,
      $f7route = ctx.$f7route,
      $update = ctx.$update,
      $on = ctx.$on,
      $onBeforeMount = ctx.$onBeforeMount,
      $onMounted = ctx.$onMounted,
      $onBeforeUpdate = ctx.$onBeforeUpdate,
      $onUpdated = ctx.$onUpdated,
      $onBeforeUnmount = ctx.$onBeforeUnmount,
      $onUnmounted = ctx.$onUnmounted;
    let {guid,device_name} = $f7route.query;
    let ssid = tran('SSID');
    let password_name = tran('Password');
    let email = tran('Email');
    let server_url = tran('Server URI');
    let port = tran('Server Port');
    let username = tran('Server Username');
    let server_password = tran('Server Password');
    let wifi_tip = tran('Device supports 2.4 GHz Wi-Fi only');
    let vueApp = null;
    let targetDeviceNum = 0;
    let allDeviceNum = 0;
    $on('pageMounted', (e, page) => {
      vueApp = new Vue({
        el: page.el.querySelector('#vue-app'),
        components: {
          // components
          DeviceGatewaySettingComponent: window.device_gateway_setting_component,
          DeviceNetworkComponent: window.device_network_component,
          DeviceWifiSettingComponent : window.device_wifi_setting_component
        },
        data: {
          // data
          loadindex: false,
          wifiStatus : 2,
          deviceNetworkStatus : false, //control device network is next step
          bluetooth_status: 1,
          index: 1,
          ssid: ssid,
          password_name: password_name,
          wifi_tip: wifi_tip,
          email: email,
          server_url: server_url,
          port: port,
          username: username,
          server_password: server_password,
          thisGateways : '',
          setting: {
            ssid: '',
            ssid_password: '',
            email: '',
            server_url: '',
            port: '',
            username: '',
            server_password: '',
          },
          mac_address: '',
          guid: guid,
          gateway: '',
          device_name : device_name,
          gatewayInfoShow : '',
          statusTitle : 'Gateways Conectting...',
          statusList : [
            {
              title : 'Check Gateway Network Status.',
              status : 0,
              id : 1,
            },
            {
              title : 'Get Gateway Information.',
              status : 0,
              id : 2,
            },
            {
              title : 'Device Gateway ID:',
              status : 0,
              id : 3,
            },
            {
              title : 'It takes a few minutes to complete the setup.',
              id : 4,
              status : 0,
            },
            {
              title : 'To skip,please click the below button to check at home page.',
              id : 5,
              status : 4,
              num : 0
            }
          ],
          isSorting: false,
        },
        computed: {
          sortableIcon: function () {
            return this.isSorting ? 'done' : 'sort';
          },
        },
        methods: {
          // methods
          async init(){
            //gateways value
            //check the wifi config of the gateway
            let devices = cloneDeep(erp.info.profile.profile_device);
            //get the gateways 
            devices.forEach(item=>{
              if(item.device == guid){
                this.thisGateways = item.gateway;
                this.gateway = item.gateway;
              }
            });
            console.log('this.gateway',this.gateway)
            let count = 0;
            console.log("this.thisGateways",this.thisGateways)
            devices.forEach(item=>{
              if(item.gateway && item.gateway.toLowerCase() == this.thisGateways.toLowerCase() && item.device != guid){
                count++;
              }
            })
            targetDeviceNum = count;
            //this.statusList[3].title = `gateway計劃連線设备數量為:${count}`;
          },
          checkIsGatewaysValue(){
            //get the gateway of the device
            let devices = cloneDeep(erp.info.profile.profile_device);
            devices.forEach(item=>{
              if(item.device == guid && item.gateway){
                this.gateway = item.gateway;
              }
            })
          },
          backForHome(){
            mainView.router.back();
          },
          handleChildEvent(data){
            console.log("data",data);
            this.index = 4;
          },
          checkIfOnline(){
            let mac = core_utils_get_mac_address_from_guid(guid, false);
            let topic_self = `${mac.toLowerCase()}-${frappe.user.data.currentUsername}`;
            window.topic_self = topic_self;
            //check if online
            let will_topic = `will/${md5(md5(topic_self.toLowerCase()))}`;
            core_mqtt_subscribe(will_topic, 1, false);
            emitter.off(will_topic);
            emitter.on(will_topic, (res) => {
              console.log("res",res);
              let message = res.message;
              if (message == 'Online') {
                //check the state of the connect status
                this.wifiStatus = 1;
              }else{
                this.wifiStatus = 2;
              }
            });
          },
          async checkIotStatus() {
            console.log('connect gateway......');
            iot_ble_check_enable()
              .then(() => {
                try {
                  $(this.$refs.iotChecked).remove();
                } catch (err) {
                  // ignore
                }
                return iot_ble_do_pre_action(guid);
              })
              .then(() => {
                try {
                  //document.querySelector('.page-current .frappe-detail-right').appendChild(this.$refs.sureChecked);
                } catch (err) {
                  // ignore
                }
              })
              .catch((errs) => {
                if (errs) {
                  app.dialog.alert(errs, runtime.appInfo.name);
                }
                this.bluetooth_status = 0;
                try {
                  $(this.$refs.sureChecked).remove();
                } catch (err) {
                  // ignore
                }
                try {
                  //document.querySelector('.page-current .frappe-detail-right').appendChild(this.$refs.iotChecked);
                } catch (err) {
                  // ignore
                }
              });
          },
          async checkGatewayWifiInfo(){
            let device = cloneDeep(erp.info.device[guid]);
            console.log(device);
            let settingList = device.settings;
            settingList.forEach((item) => {
              if (item.setting_type === 'Wifi SSID') {
                this.setting.ssid = item.setting;
              }
              if (item.setting_type === 'Wifi Password') {
                this.setting.ssid_password = item.setting;
              }
            });
            if (this.setting.ssid && this.setting.ssid_password) {
              
            }else{
              console.log("guid",guid);
              console.log("device_name",device_name);
              app.dialog.confirm('The gateway has not been configured with Wi-Fi, do you want to configure it now?', 'Gateway Wi-Fi Setting', () => {
                mainView.router.navigate(`/mobile-app/gateway-wifi-setting?profile_subdevice_name=&guid=${guid}&device_name=${device_name}`);
              });
            }
            //init the gateway params
            this.mac_address = erp.info.device[guid].mac_address;
            this.setting.email = users[users.current].usr;
          },
          async getDataFormErp() {
            let url = encodeURI(`/api/resource/Device/${guid}`);
            let device = await http.request(url, {
              method: 'GET',
              responseType: 'json',
            });
            let device_settings = [];
            try {
              if (device.data) {
                device_settings = device.data.data.settings;
                this.mac_address = device.data.data.mac_address;
              }
              let setting_type = [];
              device_settings.forEach((setting_item) => {
                setting_type.push(setting_item.setting_type);
                if (setting_item.setting_type == 'Wifi SSID') {
                  this.setting.ssid = setting_item.setting;
                }
                if (setting_item.setting_type == 'Wifi Password') {
                  this.setting.ssid_password = setting_item.setting;
                }
                if (setting_item.setting_type == 'Email Address') {
                  this.setting.email = setting_item.setting;
                }
                if (setting_item.setting_type == 'Server URI') {
                  this.setting.server_url = setting_item.setting;
                }
                if (setting_item.setting_type == 'Server Port') {
                  this.setting.port = setting_item.setting;
                }
                if (setting_item.setting_type == 'Server Username') {
                  if (setting_item.setting != 'null') {
                    this.setting.username = setting_item.setting;
                  }
                }
                if (setting_item.setting_type == 'Server Password') {
                  if (setting_item.setting != 'null') {
                    this.setting.server_password = setting_item.setting;
                  }
                }
              });
              if (setting_type.indexOf('Wifi SSID') == -1) {
                let wifi_config = await WifiWizard2.getConnectedSSID();
                this.setting.ssid = wifi_config;
              }
            } catch (err) {}
          },
          getServerData() {
            if (!this.setting.email) {
              this.setting.email = frappe.user.data.username;
            }
            if (!this.setting.server_url) {
              this.setting.server_url = 'mqtt://' + erp.settings[erp.appId].mqtt_server;
            }
            if (!this.setting.port) {
              this.setting.port = erp.settings[erp.appId].mqtt_port;
            }
          },
          checkMqttStatus() {
            let mac = core_utils_get_mac_address_from_guid(guid, false);
            let topic_self = `${mac.toLowerCase()}-${frappe.user.data.currentUsername}`;
            window.topic_self = topic_self;
            //check if online
            let will_topic = `will/${md5(md5(topic_self.toLowerCase()))}`;
            core_mqtt_subscribe(will_topic, 1, false);
            emitter.off(will_topic);
            emitter.on(will_topic, async(res) => {
              console.log("res",res);
              let message = res.message;
              if (message == 'Online') {
                //check the state of the connect status
                this.statusList[0].status = 1;
                this.statusList[1].status = 1;
                try{
                  let url = encodeURI(`/api/method/appv6.checkDeviceGateways?guid=${guid}`);
                  await http.request(url, {
                    method: 'GET',
                    responseType: 'json',
                  }).then((res) => {
                    console.log("res",res);
                    if(res.data){
                      let data = res.data.device_gateway;
                      this.statusList[2].status = 1;
                      this.statusList[2].title = `Device Gateway ID:${data.name}`;
                    }
                  });
                }catch(error){
                  this.statusList[2].status = 2;
                }
                core_mqtt_subscribe("status/"+md5(md5(topic_self.toLowerCase())), 0, false).then(()=>{
                  core_mqtt_publish("cmd/"+md5(md5(topic_self.toLowerCase())), {
                      "command":"Pubmsg",
                      "function":"bleHelper.pubmsg",
                      "params":"",
                      "callback":"",
                      "raw":""
                  }, 0, false, false, false);
                  emitter.off("status/"+md5(md5(topic_self.toLowerCase())));
                  emitter.on("status/"+md5(md5(topic_self.toLowerCase())),(res)=>{
                      let message = JSON.parse(res.message);
                      if(isset(message.Device)){
                          let deviceobj = message.Device
                          console.log(deviceobj);
                          //count the num of the device 
                          this.statusList[3].status = 3;
                          let this_count = 0;
                          let default_connect = false;
                          //must check the default connect status
                          for(let i in deviceobj){
                              if(deviceobj[i].manufacturing_data){
                                  this_count++;
                              }
                          }
                          //this.statusList[4].status = 4;
                          //this.statusList[4].title = `gateway已連接設備數為:${this_count}`;
                          if(targetDeviceNum == this_count){
                            this.statusList[3].title = 'Compelete';
                            this.statusList[3].status = 1;
                            //delete the list 
                            this.statusList.splice(4,1);
                          }else{
                            //this.statusList[5].status = 2;
                          }
                          this.$forceUpdate();
                      }
                  })
                })
                //next step
              }
            });
          },
          getPrintFormatData() {
            iot_ble_check_enable()
              .then(() => {
                return iot_ble_do_pre_action(guid);
              })
              .catch((err) => {});
          },
          postToIotSsid() {
            console.log('comming');
            //save data to iot-wifi
            if (!this.setting.ssid || !this.setting.ssid_password) {
              return;
            }
            iot_ble_check_enable()
              .then(() => {
                return iot_ble_do_pre_action(guid);
              })
              .then(() => {
                this.totastTool(tran('Upload Wi-Fi Data...'));
                // ssid
                const data = '932000' + this.setting.ssid.length.toString(16).pad('0000') + this.setting.ssid.convertToHex();
                return iot_ble_write(guid, 'ff80', 'ff81', data, false);
              })
              .then(() => {
                const data =
                  '932100' + this.setting.ssid_password.length.toString(16).pad('0000') + this.setting.ssid_password.convertToHex();
                return iot_ble_write(guid, 'ff80', 'ff81', data, false);
              })
              .then(() => {
                return iot_device_setting_sync_server(guid, null, null, true, {
                  'Wifi SSID': this.setting.ssid,
                  'Wifi Password': this.setting.ssid_password,
                });
              })
              .then(() => {
                this.totastTool(tran('Upload Wi-Fi Data Successful.'));
                this.postToIotServer();
              })
              .catch((err) => {
                app.preloader.hide();
                if (!iot_ble_exception_message(err, false) && !core_server_exception_message(err)) {
                  app.dialog.alert(err, runtime.appInfo.name);
                }
              });
          },
          postToIotServer() {
            this.totastTool(tran('Upload Email Data...'));
            const data = '932200' + this.setting.email.length.toString(16).pad('0000') + this.setting.email.convertToHex();
            iot_ble_write(guid, 'ff80', 'ff81', data, false)
              .then(() => {
                return iot_device_setting_sync_server(guid, 'Email Address', this.setting.email || 'null');
              })
              .then(() => {
                let mac = core_utils_get_mac_address_from_guid(guid, false);
                //update profile device
                let url = `/api/resource/Profile%20Device/${device_name}`;
                let method = 'PUT';
                let data = {
                  parenttype: 'Profile',
                  parent: frappe.user.data.app_profile_id,
                  parentfield: 'profile_device',
                  gateway: `${mac.toLowerCase()}-${frappe.user.data.currentUsername}`,
                };
                return http.request(url, {
                  method: method,
                  dataType: 'json',
                  serializer: 'json',
                  data: data,
                  contentType: 'application/json',
                });
              })
              .then(() => {
                this.totastTool(tran('Upload Server Port...'));
                const data = '9301000002' + (this.setting.port * 1).toString(16).pad('0000');
                return iot_ble_write(guid, 'ff80', 'ff81', data, false);
              })
              .then(() => {
                return iot_device_setting_sync_server(guid, 'Server Port', this.setting.port || null);
              })
              .then(() => {
                this.totastTool(tran('Upload Server URI...'));
                const data = '930000' + this.setting.server_url.length.toString(16).pad('0000') + this.setting.server_url.convertToHex();
                return iot_ble_write(guid, 'ff80', 'ff81', data, false);
              })
              .then(() => {
                return iot_device_setting_sync_server(guid, 'Server URI', this.setting.server_url || null);
              })
              .then(() => {
                const data = '930200' + this.setting.username.length.toString(16).pad('0000') + this.setting.username.convertToHex();
                return iot_ble_write(guid, 'ff80', 'ff81', data, false);
              })
              .then(() => {
                return iot_device_setting_sync_server(guid, 'Server Username', this.setting.username || 'null');
              })
              .then(() => {
                const data =
                  '930300' + this.setting.server_password.length.toString(16).pad('0000') + this.setting.server_password.convertToHex();
                return iot_ble_write(guid, 'ff80', 'ff81', data, false);
              })
              .then(() => {
                return iot_device_setting_sync_server(guid, 'Server Password', this.setting.server_password || 'null');
              })
              .then(() => {
                this.totastTool(tran('Upload Successful!'));
                return iot_ble_write(guid, 'ff80', 'ff81', '810E');
              })
              .catch((err) => {
                this.totastTool(tran('Upload Failed!'));
                app.preloader.hide();

                if (!iot_ble_exception_message(err, false) && !core_server_exception_message(err)) {
                  app.dialog.alert(err, runtime.appInfo.name);
                }
              });
          },
          totastTool(load_text) {
            //let icon = success_icon?'done':'hourglass_top';
            toastIcon = app.toast.create({
              text: load_text,
              position: 'center',
              closeTimeout: 2000,
            });
            toastIcon.open();
          },
          toTab(index) {
            console.log(index);
            if(index == 2){
              this.$refs.wifiChildRef.iot_device_wifi_form_save();
              this.init();
              return
            }
            if(index == 3){
              if(this.deviceNetworkStatus){
                this.$refs.deviceNetworkChildRef.toggleSort();
                return
              }
            }
            //if index == 4 ,show the connect status
            if (index == 4) {
              //update the state of gateways
              //first send the check command to the gateways
              this.$refs.childRef.syncGateways();
              return
            }
            if(index == 5){
              this.backForHome();
            }
            this.index = index;
          },
        },
        computed: {
          // computed
        },
        watch: {
          // watch
          index: function (index) {
            if (index === 1) {
              try {
                this.$nextTick(() => {
                  //document.querySelector('.page-current .frappe-detail-right').appendChild(this.$refs.sureChecked);
                });
              } catch (err) {
                // ignore
              }
            }else if(index == 4){
              this.checkMqttStatus();
              this.init();
            } else {
              try {
                $(this.$refs.sureChecked).remove();
              } catch (err) {
                // ignore
              }
            }

            if (index === 2) {
              this.$nextTick(() => {
                // const div = document.createElement('div');
                // div.id = 'device-network-group';
                // $(".page-current .frappe-detail-right").html('');
              });
            } else {
              try {
                window.device_network_vm.$destroy();
                window.device_network_vm = null;
              } catch (err) {
                // ignore
              }
            }
          },
        },
        created() {
          // created
        },
        mounted() {
          // mounted
          //this.checkIfOnline();
          //this.checkIsGatewaysValue();
          emitter.off('loadindex');
          emitter.on('loadindex', () => {
            this.loadindex = true;
            this.toTab(3);
          });
          emitter.off('gateway/sync');
          emitter.on('gateway/sync',(data)=>{
            console.log("data",data);
            if(data.code == 1){
              this.index = 4;
            }
          })
          emitter.off('wifi/set');
          emitter.on('wifi/set',(data)=>{
            console.log("data",data);
            if(data.code == 1){
              //gateway value
              if(!this.gateway){
                this.gateway = `${core_utils_get_mac_address_from_guid(guid,false).toLowerCase()}-${frappe.user.data.currentUsername}`;
              }
              this.index = 2;
              emitter.off('wifi/set');
            }
          })
          //network setting is change
          emitter.off('network/sort');
          emitter.on('network/sort',(data)=>{
            if(data.code == 1){
              this.deviceNetworkStatus = true;
            }else{
              this.deviceNetworkStatus = false;
            }
          })
          emitter.off('network/status');
          emitter.on('network/status',()=>{
            if(data.code == 1){
              this.index = 3;
              emitter.off('network/status');
            }
          })
          //this.checkIotStatus();
          try {
            //document.querySelector('.page-current .frappe-detail-right').appendChild(this.$refs.sureChecked);
          } catch (err) {
            // ignore
          }
          //this.checkGatewayWifiInfo();
          //this.getDataFormErp();
          //this.getServerData();
        },
        updated() {
          // updated
        },
        beforeDestroy() {
          // beforeDestroy
        },
        destroyed() {
          // destroyed
        },
      });
    });
    $on('pageBeforeUnmount', (e, page) => {
      if (vueApp) {
        vueApp.$destroy();
      }
    });
    return $render;
  };
</script>

<style>
  .timeline-item-content{
    position: relative;
    top: -5px;
  }
  .timeline-item-icon{
    position: relative;
    width: 10px;
    height: 10px;
    background: #bbb;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 3px var(--f7-timeline-divider-margin-horizontal) 0;
  }
  .timeline-item-icon i {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
  }
  .timeline-item-icon:after{
    top: 100%;
  }
  .timeline-item-icon:after, .timeline-item-icon:before{
    content: ' ';
    width: 1px;
    height: 100vh;
    position: absolute;
    left: 50%;
    background: inherit;
    transform: translate3d(-50%,0,0);
  }
  .signal-container {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signal-icon img {
  width: 50px; /* 或者根据你的图标实际大小调整 */
  height: auto;
  z-index: 2; /* 确保图标位于扩散波纹之上 */
}

.signal-wave {
  border-radius: 50%;
  position: absolute;
  border: 2px solid #007bff;
  animation: signalAnimation 3s infinite;
  opacity: 0;
}

.wave1 { animation-delay: 0s; }
.wave2 { animation-delay: 1s; }
.wave3 { animation-delay: 2s; }

@keyframes signalAnimation {
  from {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
</style>
