<template>
  <div class="page">
    <div class="navbar active">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="button button-fill text-color-theme bg-color-white button-44 back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">{{ _('Manufacturing') }}</div>
        <div class="right">
          <a href="#" class="link icon-only manufacturing-btn-refresh" func="manufacturing_clean_discovery_list">
            <i class="icon material-icons">replay</i>
          </a>
        </div>
      </div>
    </div>

    <div class="page-content">
      {% raw %}
      <div id="vue-app" v-cloak>
        <div class="main-box">
          <div style="background-color: #ccc">
            <div class="row no-gap">
              <div class="col-50" style="padding: 0px">
                <select
                  name="manufacturing-batch"
                  style="
                    font-size: 16px;
                    background-color: #ccc;
                    width: 100%;
                    font-weight: bold;
                    max-height: 50px;
                    line-height: 50px;
                    padding: 0px 10px;
                    -webkit-border-top-right-radius: 0px;
                    -webkit-border-bottom-right-radius: 0px;
                    -moz-border-radius-topright: 0px;
                    -moz-border-radius-bottomright: 0px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                  "
                >
                  <option value="">- 选择批次 -</option>
                  <option v-for="batch in batchs" :value="batch.batch_id">{{ batch.batch_id }}</option>
                </select>
              </div>
              <div class="col-50" style="padding: 0px">
                <select
                  name="manufacturing-model"
                  style="
                    font-size: 16px;
                    background-color: #ccc;
                    width: 100%;
                    font-weight: bold;
                    max-height: 50px;
                    line-height: 50px;
                    padding: 0px 10px;
                    -webkit-border-top-left-radius: 0px;
                    -webkit-border-bottom-left-radius: 0px;
                    -moz-border-radius-topleft: 0px;
                    -moz-border-radius-bottomleft: 0px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                  "
                >
                  <option value="">- 选择型号 -</option>
                  <option v-for="model in models" :value="model.model_code">{{ model.model_code }}</option>
                </select>
              </div>
            </div>
            <div class="row no-gap">
              <div class="col-40" style="padding: 0px">
                <label
                  class="item-checkbox item-checkbox-icon-start item-content"
                  style="max-height: 50px; line-height: 50px"
                  func="manufacturing_toggle_show_done"
                >
                  <input type="checkbox" name="checkbox-manufacturing-show-done" value="show-done" />
                  <i class="icon icon-checkbox" style="float: left; margin: 15px 5px 15px 10px"></i>
                  <div class="item-inner" style="float: left">
                    <div class="item-title">显示已生产设备</div>
                  </div>
                </label>
              </div>
              <div class="col-40" style="padding: 0px">
                <label class="item-checkbox item-checkbox-icon-start item-content" style="max-height: 50px; line-height: 50px">
                  <input
                    type="checkbox"
                    name="checkbox-manufacturing-show-all"
                    value="show-all"
                    changefunc="manufacturing_toggle_show_all"
                  />
                  <i class="icon icon-checkbox" style="float: left; margin: 15px 5px 15px 10px"></i>
                  <div class="item-inner" style="float: left">
                    <div class="item-title">显示遥远设备</div>
                  </div>
                </label>
              </div>
              <div class="col-20" style="padding: 0px">
                <a
                  style="max-height: 50px; line-height: 50px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px"
                  v-on:click="startProduce()"
                  class="col button button-fill button-large manufacturing-btn-start"
                  >开始</a
                >
              </div>
            </div>
          </div>

          <div class="list media-list no-margin manufacturing-found-list" style="margin-top: 0px; padding-top: 0px">
            <ul></ul>
          </div>
        </div>
      </div>
      {% endraw %}
    </div>
  </div>
</template>

<script>
  export default async (props, ctx) => {
    const $f7 = ctx.$f7,
      $f7route = ctx.$f7route,
      $onUnmounted = ctx.$onUnmounted,
      $on = ctx.$on;

    let vueApp = null;
    let { name, sub_name } = $f7route.query;
    //let { guid, subdevice_name } = $f7route.query;
    $on('pageMounted', (e, page) => {
      vueApp = new Vue({
        el: page.el.querySelector('#vue-app'),
        data: {
          batchs: [],
          models: [],
        },
        watch: {},
        mounted() {
          this.init();
        },
        methods: {
          init() {
            let this_batchs = cloneDeep(erp.doctype.device_batch);
            let this_models = cloneDeep(erp.doctype.device_model);
            window.ble_batch = {};
            for(let d in this_batchs){
              window.ble_batch[this_batchs[d].device_hex_batch.toLowerCase()] = {
                'name': this_batchs[d].batch_id,
                'password': this_batchs[d].password?this_batchs[d].password:'000000',
                'quantity': this_batchs[d].quantity?this_batchs[d].quantity:0,
                'default': []
              };
              let default_config = this_batchs[d].device_default_config;
              for(let cfg in default_config){
                if(default_config[cfg]['device_command'] == 'SET_BLE_DEVICE_PASSWORD'){
                  window.ble_batch[this_batchs[d].device_hex_batch.toLowerCase()]['default'].push('82'+'000000'.convertToHex()+default_config[cfg].description.convertToHex());
                }else if(default_config[cfg]['device_command'] == 'SET_BLE_DEVICE_DEFAULT_PASSWORD'){
                  window.ble_batch[this_batchs[d].device_hex_batch.toLowerCase()]['default'].push('88038354'+default_config[cfg].description.convertToHex());
                }else{
                  window.ble_batch[this_batchs[d].device_hex_batch.toLowerCase()]['default'].push(default_config[cfg].description);
                }
              }
            }
            window.ble_model = {};
            for(let m in this_models){
              window.ble_model[this_models[m].hexid.toLowerCase()] = {
                'name': this_models[m].model_code,
                'default': [],
              };
              let default_config = this_models[m].device_default_config;
              for(let cfg in default_config){
                if(default_config[cfg]['device_command'] == 'SET_BLE_DEVICE_PASSWORD'){
                  window.ble_model[this_models[m].hexid.toLowerCase()]['default'].push('82'+'000000'.convertToHex()+default_config[cfg].description.convertToHex());
                }else if(default_config[cfg]['device_command'] == 'SET_BLE_DEVICE_DEFAULT_PASSWORD'){
                  window.ble_model[this_models[m].hexid.toLowerCase()]['default'].push('88038354'+default_config[cfg].description.convertToHex());
                }else{
                  window.ble_model[this_models[m].hexid.toLowerCase()]['default'].push(default_config[cfg].description);
                }
              }
            }
            let this_batchs_list = [];
            let this_models_list = [];
            for (let i in this_batchs) {
              this_batchs_list.push(this_batchs[i]);
            }
            for (let i in this_models) {
              this_models_list.push(this_models[i]);
            }
            console.log('this_batchs_list', this_batchs_list);
            console.log('this_models_list', this_models_list);
            this.batchs = this.sortByKey(this_batchs_list, 'batch_id');
            this.models = this.sortByKey(this_models_list, 'model_code');
          },
          sortByKey(arr, key) {
            return arr.sort((a, b) => {
              const aValue = typeof a[key] === 'string' && !isNaN(a[key]) ? Number(a[key]) : a[key];
              const bValue = typeof b[key] === 'string' && !isNaN(b[key]) ? Number(b[key]) : b[key];
              if (typeof aValue === 'number' && typeof bValue === 'number') {
                return aValue - bValue;
              }
              return aValue.toString().localeCompare(bValue.toString());
            });
          },
          startProduce() {
            console.log('startProduce');
            let testButton = ha_control_template_render('6163346431363439326266361202051d','YO202DS','On Off IR');
            app.sheet
              .create({
                content: `
            <div class="sheet-modal" style="height:auto">
            	<div class="sheet-modal-inner">
            		<div class="swipe-handler"></div>
            		<div class="page-content">
            			<div class="list list-strong list-outline list-dividers-ios">
            				<ul>
            					<li class="manufacturing-steps manufacturing-step1">
            						<div class="item-content">
            							<div class="item-inner">
            								<div class="item-title">步驟1：連接設備</div>
            								<div class="item-after">
            									<i class="icon material-icons">watch_later</i>
            								</div>
            							</div>
            						</div>
            					</li>
            					<li class="manufacturing-steps manufacturing-step2">
            						<div class="item-content">
            							<div class="item-inner">
            								<div class="item-title">步驟2：讀取Mac</div>
            								<div class="item-after">
            									<i class="icon material-icons">watch_later</i>
            								</div>
            							</div>
            						</div>
            					</li>
            					<li class="manufacturing-steps manufacturing-step3">
            						<div class="item-content">
            							<div class="item-inner">
            								<div class="item-title">步驟3：讀取版本號</div>
            								<div class="item-after">
            									<i class="icon material-icons">watch_later</i>
            								</div>
            							</div>
            						</div>
            					</li>
            					<li class="manufacturing-steps manufacturing-step4">
            						<div class="item-content">
            							<div class="item-inner">
            								<div class="item-title">步驟4：輸入密匙</div>
            								<div class="item-after">
            									<i class="icon material-icons">watch_later</i>
            								</div>
            							</div>
            						</div>
            					</li>
            					<li class="manufacturing-steps manufacturing-step5">
            						<div class="item-content">
            							<div class="item-inner">
            								<div class="item-title">步驟5：更新設置名稱及設定</div>
            								<div class="item-after">
            									<i class="icon material-icons">watch_later</i>
            								</div>
            							</div>
            						</div>
            					</li>
            					<li class="manufacturing-steps manufacturing-step6">
            						<div class="item-content">
            							<div class="item-inner">
            								<div class="item-title">步驟6：重啟中</div>
            								<div class="item-after">
            									<i class="icon material-icons">watch_later</i>
            								</div>
            							</div>
            						</div>
            					</li>
            					<li class="manufacturing-steps manufacturing-step7">
            						<div class="item-content">
            							<div class="item-inner">
            								<div class="item-title">步驟7：確認更新設置名稱</div>
            								<div class="item-after">
            									<i class="icon material-icons">watch_later</i>
            								</div>
            							</div>
            						</div>
            					</li>
            					<li class="manufacturing-steps manufacturing-step8">
            						<div class="item-content">
            							<div class="item-inner">
            								<div class="item-title">步驟8：上傳my.mob-mob.com伺服器</div>
            								<div class="item-after">
            									<i class="icon material-icons">watch_later</i>
            								</div>
            							</div>
            						</div>
            					</li>
            					<li class="manufacturing-steps manufacturing-step9">
            						<div class="item-content">
            							<div class="item-inner">
            								<div class="item-title">步驟9：上傳erp伺服器</div>
            								<div class="item-after">
            									<i class="icon material-icons">watch_later</i>
            								</div>
            							</div>
            						</div>
            					</li>
                    ${testButton}
            				</ul>
            			</div>
            			<div class="block manufacturing-remaining-time" style="text-align:center;">
            				生產剩餘時間: <font>30</font>秒
            			</div>
            		</div>
            	</div>
            </div>
        `,
                on: {
                  closed: function () {
                    clearTimeout(manufacturing_produce_timer);
                    if (manufacturing_processing) {
                      app.dialog.alert('生產中斷，請重新生產！', runtime.appInfo.name);
                    }
                    manufacturing_processing = false;
                  },
                },
                swipeToClose: true,
                push: true,
                backdrop: true,
              })
              .open();
          },
        },
        computed: {},
        beforeDestroy() {},
      });
    });

    $on('pageBeforeRemove', (e, page) => {});

    $onUnmounted(() => {
      if (vueApp) {
        vueApp.$destroy();
      }
    });

    return $render;
  };
</script>

<style>
  .box-btn {
			margin-bottom: 7.5px;
			margin-top: 7.5px;
		}
		.box-left {
			border-left: 1px solid var(--f7-list-item-border-color);
		}
		.unit {
			font-size: 11px;
		}
		.title-btn {
			width: 100%;
			margin-left: 5px;
		}
		.iaq-title-big {
			font-size: 12px;
		}
		.main-btn .box-btn-img {
			background-color: #3bb33b;
		}
    .device .swipeout-actions-right {
			transform: translateX(200%);
		}
    .device .swipeout-actions-left {
			transform: translateX(-200%);
		}
    .device-none {
			display: none !important;
		}
</style>
