<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="button button-fill text-color-theme bg-color-white button-44 back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">{{ _('Miele') }}</div>
        <div class="right">
          <a link icon-only>
            <i class="icon material-icons" func="clear_miele_account">logout</i>
          </a>
        </div>
      </div>
    </div>
    <style>
      .page-content .button.onoff[ref='0'],
      .page-content *[onoffref='0'] > .button.onoff {
        background-color: var(--f7-block-strong-bg-color);
        color: #8e8d93;
        border-color: #8e8d93;
      }
      .control-panel-left,
      .subdevice-item-content {
        display: flex !important;
      }
      .subdevice-item-content .openclose {
        display: inline-block !important;
      }
      .subdevice-item-content .active-button,
      .item-content .active-button {
        background: var(--f7-theme-color) !important;
        color: #fff !important;
      }
      .button-big {
        font-size: 10px;
      }
      .page-content .button.onoff[ref='0']:after,
      .page-content *[onoffref='0'] > .button.onoff:after {
        content: 'OFF';
      }
    </style>
    <div class="page-content" style="height: 100%">
      {% raw %}
      <div id="app" style="height: 100%" v-cloak>
        <iframe v-if="!this_miele_token" id="myIframe" :src="targetUrl" frameborder="0" style="height: 100%; width: 100%"></iframe>
        <div id="room-0-div" v-else class="list media-list no-margin device-none">
          <ul>
            <li class="room">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title" lang="en" lang-packet="Unassigned" func="controller_common_home_collapse" ref="0">
                      <i class="room-collapse material-icons" id="collapse-0"> expand_more </i>
                      {{ _('Devices') }}
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <button-group
              v-for="(item,index) in deviceList"
              :onoff-ref="item.ref"
              :display-name="item.display_name"
              :device-model="item.device_model"
              :device-name="item.macaddress"
              :image-url="item.url"
              :name="item.name"
              :mode="item.mode?item.mode:''"
              :cooling="item.cooling?item.cooling:''"
              :freezing="item.freezing?item.freezing:''"
              :temp="item.temp?item.temp:0"
              :hexid="item.hexid"
              :action-state="item.action_state"
              @onoff="changeOnoff"
              @state="stateManage"
              @modestate="modeStateManage"
              @coolingstate="coolingManage"
              @freezingstate="freezingManage"
              @tempstate="tempManage"
            ></button-group>
          </ul>
        </div>
      </div>
      {% endraw %}
    </div>
  </div>
</template>

<script>
  erp.pageScript['mobile-app/miele-auto-page'] = {};

  erp.pageScript['mobile-app/miele-auto-page'].pageMounted = async (e, page) => {
    erp.pageScript['mobile-app/miele-auto-page'].vueApp = new Vue({
      components: {
        ButtonGroup: erp.pageScript['mobile-app/miele-auto-page'].ButtonGroupComponent,
      },
      el: page.el.querySelector('#app'),
      data: {
        deviceList: [],
        this_miele_token: '',
        targetUrl: '',
        postUrl: '',
        responseMap: {
          response_type: '',
          client_id: '',
          redirect_uri: '',
          scope: '',
          client_secret: '',
        },
        thisListenFun: null,
        pickMap : null
      },
      mounted() {
        let iframe = document.getElementById('myIframe');
        window.addEventListener('message', (event) => {
          console.log('event', event);
          let data = JSON.parse(event.data);
          if (isset(data) && data.access_token) {
            let key = `miele_${users.current}`;
            data.expires_in_date = dayjs().format();
            db.set(key, JSON.stringify(data));
            window.miele_access_token = data.access_token;
            window.miele_express_in = data.expires_in;
            this.this_miele_token = data.access_token;
            this.getDeviceList();
          }
        });
        if (this.thisListenFun) {
          emitter.off('miele/refresh', this.thisListenFun);
        }
        emitter.on('miele/refresh', (data) => {
          this.this_miele_token = '';
          this.init();
        });
        this.init();
      },
      methods: {
        async init() {
          await this.getLocalToken();
          await this.getApiHookParam();
          await this.getData();
        },
        async getLocalToken() {
          try {
            let token = await db.get(`miele_${users.current}`);
            if (token) {
              //check is nor Invalid
              let data = JSON.parse(token);
              let thisTime = dayjs().format();
              let expires_in_date = data.expires_in_date;
              let expires_in = data.expires_in;
              let compare_time = dayjs(thisTime).diff(dayjs(expires_in_date), 'second');
              if (compare_time <= expires_in) {
                window.miele_access_token = data.access_token;
                this.this_miele_token = data.access_token;
                this.getDeviceList();
              } else {
                window.miele_access_token = '';
                this.this_miele_token = '';
              }
            }
          } catch (e) {}
        },
        async getApiHookParam() {
          let url = `/api/method/appv6.getApiHookList?name=Miele Authorization`;
          let list = await http.request(encodeURI(url), {
            method: 'GET',
            serializer: 'json',
            responseType: 'json',
            timeout: 3,
          });
          let data = list.data.data;
          if (isset(data.url)) {
            this.postUrl = data.url;
          }
          let dataList = data.api_params;
          dataList.forEach((item) => {
            if (item.key === 'response_type') {
              this.responseMap.response_type = item.value;
            }
            if (item.key === 'client_id') {
              this.responseMap.client_id = item.value;
            }
            if (item.key === 'redirect_uri') {
              this.responseMap.redirect_uri = item.value;
            }
            if (item.key === 'scope') {
              this.responseMap.scope = item.value;
            }
            if (item.key === 'client_secret') {
              this.responseMap.client_secret = item.value;
            }
          });
        },
        async getData() {
          let url = `${this.postUrl}?response_type=${this.responseMap.response_type}&client_id=${this.responseMap.client_id}&redirect_uri=${this.responseMap.redirect_uri}&scope=${this.responseMap.scope}&state=${md5(
            users.current
          )}`;
          this.targetUrl = url;
        },
        async getDeviceList() {
          let list = await http2.request(encodeURI(`https://api.mcs3.miele.com/v1/devices`), {
            method: 'GET',
            serializer: 'json',
            responseType: 'json',
            headers: {
              'content-type': 'application/json;charset=utf-8',
              'Authorization': `Bearer ${this.this_miele_token}`,
            },
            timeout: 3,
          });
          console.log('list', list);
          if (list.status == 200) {
            let devices = list.data;
            this.deviceList = [];
            for (let i in devices) {
              let obj = {
                display_name: devices[i].ident.deviceName ? devices[i].ident.deviceName : devices[i].ident.type.value_localized,
                device_model: devices[i].ident.type.value_localized,
                macaddress: devices[i].ident.deviceIdentLabel.fabNumber,
                url: this.getDeviceImg(devices[i].ident.type.value_localized),
                name: i,
                hexid: this.getHexid(devices[i].ident.type.value_localized),
                action_state: 0,
                ref: this.getStatus(devices[i].state.status.value_localized),
                ident: devices[i].ident,
                state: devices[i].state,
              };
              this.deviceList.push(obj);
              console.log('this.deviceList', this.deviceList);
            }
          }
        },
        getStatus(ref) {
          let onoffRef = 0;
          if (ref == 'On') {
            onoffRef = 1;
          } else if (ref == 'In use') {
            onoffRef = 2;
          } else if (ref == 'Off') {
            onoffRef = 0;
          } else if (ref == 'Not connected') {
            onoffRef = 3;
          }
          return onoffRef;
        },
        getHexid(type) {
          let hexid = '';
          if (type == 'Oven') {
            hexid = `0312`;
          } else if (type == 'Washer Dryer') {
            hexid = `0324`;
          } else if (type == 'Warming drawer') {
            hexid = `0307`;
          } else if (type == 'Coffee Machine') {
            hexid = `0317`;
          } else if (type == 'Combi Steam') {
            hexid = `0228`;
          } else if (type == 'Fridge / Freezer') {
            hexid = `0321`;
          }
          return hexid;
        },
        getDeviceImg(type) {
          let url = `https://www.miele.com/developer/assets/12_oven.svg`;
          if (type == 'Oven') {
            url = `https://www.miele.com/developer/assets/12_oven.svg`;
          } else if (type == 'Washer Dryer') {
            url = `https://www.miele.com/developer/assets/24_washerdryer.svg`;
          } else if (type == 'Warming drawer') {
            url = `https://www.miele.com/developer/assets/31_steamovencombination.svg`;
          } else if (type == 'Coffee Machine') {
            url = `https://www.miele.com/developer/assets/17_coffeesystem.svg`;
          } else if (type == 'Combi Steam') {
            url = `https://www.miele.com/developer/assets/31_steamovencombination.svg`;
          } else if (type == 'Fridge / Freezer') {
            url = `https://www.miele.com/developer/assets/31_steamovencombination.svg`;
          }
          return url;
        },
        async changeStatus(status = true, postObj, guid) {
          try {
            let url = `https://api.mcs3.miele.com/v1/devices/${guid}/actions`;
            let postStatus = await http.request(encodeURI(url), {
              method: 'PUT',
              serializer: 'json',
              responseType: 'json',
              headers: {
                'content-type': 'application/json;charset=utf-8',
                'Authorization': `Bearer ${this.this_miele_token}`,
              },
              timeout: 10,
              data: postObj ? postObj : { 'powerOn': status },
            });
            console.log('postStatus', postStatus);
            if (postStatus.status === 204) {
              //handleDevice();
              return postStatus;
            }
          } catch (err) {
            console.log(err);
            return null;
          }
        },
        async getActionData(guid) {
          return http2.request(encodeURI(`https://api.mcs3.miele.com/v1/devices/${guid}/programs`), {
            method: 'GET',
            serializer: 'json',
            responseType: 'json',
            headers: {
              'content-type': 'application/json;charset=utf-8',
              'Authorization': `Bearer ${this.this_miele_token}`,
            },
            timeout: 3,
          });
        },
        async changeOnoff(data) {
          console.log('data', data);
          //check if no connect
          if (data.ref == '3') {
            app.dialog.alert(_('Device Not Connected.'));
            return;
          } else if (data.ref == '2') {
            app.dialog.alert(_('Device In Use.'));
            return;
          }
          app.dialog.preloader();
          try {
            if (data.ref == '0') {
              await this.changeStatus(true, null, data.name);
            } else {
              await this.changeStatus(false, { 'powerOff': true }, data.name);
            }
            app.dialog.close();
            //change status
            this.deviceList.forEach((item) => {
              if (item.name == data.name) {
                let this_ref = '0';
                if (data.ref == '0') {
                  this_ref = '1';
                }
                item.ref = this_ref;
              }
            });
          } catch (error) {
            console.log('error', error);
            app.dialog.close();
            app.dialog.alert(_('Operation failed.'));
            return;
          }
        },
        async stateManage(data) {
          console.log('data', data);
          //get the status of the devices
          let thisRef = 0;
          this.deviceList.forEach((item) => {
            if (item.name == data.name) {
              thisRef = item.ref;
            }
          });
          if (thisRef == 0) {
            app.dialog.alert(_('Please turn on the device first.'));
            return;
          } else if (thisRef == 2) {
            app.dialog.alert(_('Device In Use.'));
            return;
          } else if (thisRef == 3) {
            app.dialog.alert(_('Device Not Connected.'));
            return;
          }
          if (data.state == 1) {
            //start
            app.dialog.preloader();
            try{
              let list = await this.getActionData(data.name);
              app.dialog.close();
              console.log('list',list);
              if(list.data){
                this.pickMap = app.picker.create({
                  inputEl : `#${data.name}`,
                  cols : [
                    {
                      values: ['apple', 'orange', 'banana'],
                      displayValues: ['Apple', 'Orange', 'Banana'],
                    }
                  ]
                })
                this.pickMap.open();
              }
            }catch(error){
              console.log('error',error);
              app.dialog.alert(_(error));
            }
          } else if (data.state == 2) {
            //pause
          } else if (data.state == 3) {
            //stop
          }
          return 
          this.deviceList.forEach((item) => {
            if (item.name == data.name) {
              item.action_state = data.state;
            }
          });
        },
        modeStateManage(data) {
          console.log('data', data);
          let state = data.state * 1 + 1;
          if (data.state == 3) {
            state = 0;
          }
          this.deviceList.forEach((item) => {
            if (item.name == data.name) {
              item.mode = state;
            }
          });
        },
        coolingManage(data) {
          this.deviceList.forEach((item) => {
            if (item.name == data.name) {
              item.cooling = data.state;
            }
          });
        },
        freezingManage(data) {
          this.deviceList.forEach((item) => {
            if (item.name == data.name) {
              item.freezing = data.state;
            }
          });
        },
        tempManage(data) {
          console.log(data);
          let temp = data.temp;
          let type = data.type;
          if (type == 'reduce') {
            temp--;
          } else {
            temp++;
          }
          this.deviceList.forEach((item) => {
            if (item.name == data.name) {
              item.temp = temp;
            }
          });
        },
      },
      beforeDestroy() {},
    });
  };

  erp.pageScript['mobile-app/miele-auto-page'].pageInit = (e, page) => {};

  erp.pageScript['mobile-app/miele-auto-page'].pageBeforeIn = (e, page) => {};

  erp.pageScript['mobile-app/miele-auto-page'].pageAfterIn = (e, page) => {};

  erp.pageScript['mobile-app/miele-auto-page'].pageBeforeOut = (e, page) => {};

  erp.pageScript['mobile-app/miele-auto-page'].pageAfterOut = (e, page) => {};

  erp.pageScript['mobile-app/miele-auto-page'].pageBeforeRemove = (e, page) => {
    try {
      erp.pageScript['mobile-app/miele-auto-page'].vueApp.$destroy();
      erp.pageScript['mobile-app/miele-auto-page'].vueApp = null;
    } catch (err) {
      // ignore
    }
  };
  erp.pageScript['mobile-app/miele-auto-page'].ButtonGroupComponent = {
    template: `
    <div>
    <li class="device home-scanned-peripheral swipeout swipeout-delete-manual">
      <input :id="deviceName" :name="deviceName" type="hidden"/>
      <div class="item-content swipeout-content">
        <a class="item-link item-content no-chevron no-ripple no-active-state">  
          <div class="device-thumb item-media" :style="{'background-position':'center','background-size' : 'contain','position':'relative','background-image':'url(' + imageUrl + ')'}">
        
          </div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title ellipsis" lang="en" style="width:180px;">
                <i class="material-icons text-muted" style="position:relative;top:5px;">settings</i>
              {{displayName}}
              </div>
            </div>
            <div class="item-subtitle">{{ deviceModel }}-{{ deviceName }}</div>
            <div class="signal-panel item-text height-21" style="width:120%;">
              <div>
                  <div class="rcu-virtual-button">
                    <i class="material-icons circles text-color-green" style="font-size:22px;" v-if="onoffRef != 3">circle</i>
                    <i class="material-icons circles" style="font-size:22px;" v-else>circle</i>
                    <span class="text-muted" style="position: relative;top: -7px;font-size:12px;" v-if="onoffRef == 3">Not Connected</span>
                    <span class="text-muted" style="position: relative;top: -7px;font-size:12px;" v-if="onoffRef == 2">In Use</span>
                  </div>
              </div>
            </div>
          </div>
        </a>
        <div class="control-panel-right" style="">
            <a class="on_flag off_flag" :onoffref="onoffRef == 1?1:0" @click="clickOnoff(name,onoffRef)" gang="1">
                <div class="button button-raised button-big onoff"></div>
            </a>
            <a class="right" :href="'/mobile-app/home-auto-miele-page?title='+displayName+'&guid='+deviceName+'&model='+deviceModel">
              <div class="button button-raised button-big circle">
                  <i class="material-icons" style="line-height: 25px!important;">view_sidebar</i>
              </div>
          </a>
          </div>
      </div>
    </li>
    </div>
    `,
    props: {
      displayName: {
        type: String,
        default: '',
        required: true,
      },
      deviceModel: {
        type: String,
        default: '',
        required: true,
      },
      deviceName: {
        type: String,
        default: '',
        required: true,
      },
      imageUrl: {
        type: String,
        default: '',
        required: true,
      },
      hexid: {
        type: String,
        default: '',
        required: true,
      },
      name: {
        type: Number,
        default: '',
        required: true,
      },
      onoffRef: {
        type: String,
        default: '',
        required: true,
      },
      actionState: {
        type: Number,
        default: '',
        required: true,
      },
      temp: {
        type: Number,
        default: 0,
        required: true,
      },
      mode: {
        type: Number,
        default: 0,
        required: true,
      },
      cooling: {
        type: Number,
        default: 0,
        required: true,
      },
      freezing: {
        type: Number,
        default: 0,
        required: true,
      },
    },
    data: {},
    computed: {
      modeStr() {
        console.log(this.mode);
        let str = 'NORMAL';
        if (this.mode == 1) {
          str = 'SABBATH';
        } else if (this.mode == 2) {
          str = 'PARTY';
        } else if (this.mode == 3) {
          str = 'HOLIDAY';
        }
        return str;
      },
      coolingStr() {
        let str = 'NO COOL';
        if (this.cooling == 1) {
          str = 'COOLING';
        }
        return str;
      },
      freezingStr() {
        let str = 'NO FREEZ';
        if (this.freezing == 1) {
          str = 'FREEZING';
        }
        return str;
      },
    },
    mounted() {
      console.log(this.displayName);
    },
    methods: {
      clickOnoff(name, ref) {
        console.log('ref', ref);
        console.log('name', name);
        this.$emit('onoff', {
          name: name,
          ref: ref,
        });
      },
      changeStates(name, state) {
        this.$emit('state', {
          name: name,
          state: state,
        });
      },
      changeMode(name, state) {
        this.$emit('modestate', {
          name: name,
          state: state,
        });
      },
      changeCooling(name, state) {
        this.$emit('coolingstate', {
          name: name,
          state: state,
        });
      },
      changeFreezing(name, state) {
        this.$emit('freezingstate', {
          name: name,
          state: state,
        });
      },
      changeTemp(name, temp, type) {
        this.$emit('tempstate', {
          name: name,
          temp: temp,
          type: type,
        });
      },
    },
    beforeDestroy() {},
  };
</script>
