<template>
  <div class="page">
    <div class="navbar active">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="button button-fill text-color-theme bg-color-white button-44 back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">{{ _('Device Status Log') }}</div>
      </div>
    </div>

    <div
      class="page-content ptr-content infinite-scroll-content"
      data-ptr-mousewheel="true"
      data-infinite-distance="50"
      @ptr:refresh="${refreshFun}"
      @infinite="${loadMore}"
    >
      <div class="ptr-preloader">
        <div class="preloader"></div>
        <div class="ptr-arrow"></div>
      </div>
      {% raw %}
      <div id="device-control-log-box" v-cloak>
        <div class="list p-2">
          <div class="timeline">
            <div
              class="timeline-item"
              v-for="(log_item,log_index) in log_list"
              :key="log_index"
              v-if="log_item.command_type != 'device_status_log_curtain_switch' && !log_item.is_show"
            >
              <div class="timeline-item-date" style="width: 80px">
                <div>{{log_item.timestamp.substring(5,10)}}<small>{{'/'+log_item.timestamp.substring(0,4)}}</small></div>
                <div class="text-muted" style="font-size: 12px">{{log_item.timestamp.substring(10,16)}}</div>
              </div>
              <div class="timeline-item-divider" :style="{'backgroundColor':'var(--f7-theme-color)'}"></div>
              <div class="timeline-item-content">
                <div class="timeline-item-inner">
                  {{log_item.owner == 'Administrator' ? _('System Notification'):log_item.owner}}
                  <div
                    class="display-flex"
                    :bluetooth="log_item.control_source == 'Bluetooth'?1:0"
                    :mobmob="log_item.control_source == 'MobMob'?1:0"
                    :mesh="log_item.control_source == 'Network'?1:0"
                    :google="log_item.control_source == 'Google Home'?1:0"
                    :http="log_item.control_source == 'Http'?1:0"
                    :manual="log_item.control_source == 'Manual'?1:0"
                  >
                    <div v-if="log_item.control_source == 'Bluetooth'" class="bluetooth"></div>
                    <div v-else-if="log_item.control_source == 'MobMob'" class="mobmob" style="margin-right: 10px"></div>
                    <div v-else-if="log_item.control_source == 'Network'" class="mesh"></div>
                    <div v-else-if="log_item.control_source == 'Http'" class="http"></div>
                    <div v-else-if="log_item.control_source == 'Manual'" class="manual">
                      <i class="material-icons text-color-orange" style="font-size: 20px">touch_app</i>
                    </div>
                    <div v-else-if="log_item.control_source == 'Google Home'" class="google" style="margin-right: 10px">
                      <i class="material-icons text-color-orange" style="font-size: 20px">home_app_logo</i>
                    </div>
                    <span class="text-muted size-12" v-if="log_item.is_show_status"></span>
                    <span class="text-muted size-12" style="line-height: 24px" v-if="log_item.is_show_status"
                      >{{log_item.status > 0?_('ON'):_("OFF")}}</span
                    >
                    <span
                      class="text-muted size-12"
                      style="margin-left: 5px; line-height: 24px"
                      v-if="log_item.is_show_status && log_item.status>1"
                      >({{log_item.status}}%)</span
                    >
                    <span
                      class="text-muted size-12"
                      v-if="(log_item.device_model == 'YO360' || log_item.device_model == 'm360s') && (log_item.command_type == 'add' || log_item.command_type == 'reduce')"
                    ></span>
                    <span
                      class="text-muted size-12"
                      style="margin-left: 5px;line-height: 24px"
                      v-if="(log_item.device_model == 'YO360' || log_item.device_model == 'm360s') && (log_item.command_type == 'add' || log_item.command_type == 'reduce')"
                    >
                      {{log_item.temperature}}°C
                    </span>
                    <span
                      class="text-muted size-12"
                      v-if="(log_item.device_model == 'YO360' || log_item.device_model == 'm360s') && log_item.command_type == 'mode'"
                    ></span>
                    <span
                      class="text-muted size-12"
                      style="margin-left: 5px;line-height: 24px"
                      v-if="(log_item.device_model == 'YO360' || log_item.device_model == 'm360s') && log_item.command_type == 'mode'"
                    >
                      {{_(getModeInfo(log_item.mode))}}
                    </span>
                    <span
                      class="text-muted size-12"
                      v-if="(log_item.device_model == 'YO360' || log_item.device_model == 'm360s') && log_item.command_type == 'fan'"
                    ></span>
                    <span
                      class="text-muted size-12"
                      style="margin-left: 5px;line-height: 24px"
                      v-if="(log_item.device_model == 'YO360' || log_item.device_model == 'm360s') && log_item.command_type == 'fan'"
                    >
                      {{_(getSpeedInfo(log_item.speed))}}
                    </span>
                    <!-- onoff status log start  -->
                    <span
                      class="text-muted size-12"
                      style="margin-left: 5px; text-align: center;line-height: 24px"
                      v-if="log_item.command_type == 'device_status_log_onoff'"
                    >
                      {{log_item.gang_1 > 0 ? _('ON'):_('OFF')}}
                    </span>
                    <!-- onoff status log end  -->
                    <!-- dimming status log start  -->
                    <span
                      class="text-muted size-12"
                      style="line-height: 24px; margin-left: 10px"
                      v-if="log_item.command_type == 'device_status_log_dimming'"
                    >
                      {{log_item.dimming > 0 ? _('ON'):_('OFF')}}
                      <span style="margin-left: 5px" v-if="log_item.dimming > 0">({{Math.ceil(log_item.dimming/255*100)}}%)</span>
                    </span>
                    <!-- dimming status log end  -->
                    <!-- curtain motor status log start  -->
                    <span
                      class="text-muted size-12"
                      style="margin-left: 5px; line-height: 24px"
                      v-if="log_item.command_type == 'device_status_log_curtain_motor'"
                    >
                      {{log_item.curtain_status > 2 ? _('ON'):_('OFF')}}
                      <span style="margin-left: 5px" v-if="log_item.curtain_status > 2">({{log_item.curtain_status}}%)</span>
                    </span>
                    <!-- curtain motor status log end  -->
                    <!-- door open status log start  -->
                    <span
                      class="text-muted size-12"
                      style="margin-left: 5px; line-height: 24px"
                      v-if="log_item.command_type == 'device_status_log_door_open'"
                    >
                      {{log_item.door_open > 0 ? _('OPEN'):_('CLOSE')}}
                    </span>
                    <!-- door open status log end  -->
                    <!-- geomagnetic status log start  -->
                    <span
                      class="text-muted size-12"
                      style="margin-left: 5px; line-height: 24px"
                      v-if="log_item.command_type == 'device_status_log_geomagnetic'"
                    >
                      {{log_item.geomagnetic > 0 ? _('ON'):_('OFF')}}
                      <span style="margin-left: 5px">{{log_item.battery > 0 ? log_item.battery + _(' Bar'):''}}</span>
                    </span>
                    <!-- geomagnetic status log end  -->
                    <!-- hdmicec status log start  -->
                    <span
                      class="text-muted size-12"
                      style="margin-left: 5px; line-height: 24px"
                      v-if="log_item.command_type == 'device_status_log_hdmicec' || log_item.device_model == 'YO103' || log_item.device_type == 'YO103'"
                    >
                      {{log_item.command_type == 'device_status_log_hdmicec'?_('OFF'):log_item.command_type.toUpperCase()}}
                    </span>
                    <!-- hdmicec status log end  -->
                    <!-- scene status log start  -->
                    <span
                      class="text-muted size-12"
                      style="margin-left: 5px; line-height: 24px"
                      v-if="log_item.command_type == 'rcu_scene_trigger' && log_item.scene_title"
                    >
                      {{log_item.scene_title?log_item.scene_title:parseInt(item.scene_id,16) }}
                      <i class="material-icons text-color-theme" style="font-size: 20px;position: absolute;top:35px;">play_arrow</i>
                    </span>
                    <!-- scene status log end  -->
                    <!-- thermosta status log  -->
                    <span
                      class="text-muted size-12"
                      style="margin-left: 5px"
                      v-if="(log_item.device_model == 'YO360' || log_item.device_model == 'm360s') && log_item.command_type == 'device_status_log_thermostat'"
                    >
                      <img style="width: 15px; height: 15px" :src="getModeInfoImg(log_item.mode)" alt="" />
                      <img
                        style="width: 20px; height: 20px; margin-left: 10px; margin-right: 10px"
                        :src="getSpeedInfoImg(log_item.speed)"
                        alt=""
                      />
                      <span style="margin-right: 10px; font-size: 14px">{{log_item.temperature}}°C</span>
                      <span v-if="log_item.humidity" style="font-size: 14px">{{log_item.humidity}}%</span>
                    </span>
                    <!-- thermosta status log end  -->
                    <span class="text-muted size-12" v-if="log_item.device_mode == 'Curtain Switch'"></span>
                    <span class="text-muted size-12" style="margin-left: 5px" v-if="log_item.device_mode == 'Curtain Switch'">
                      {{log_item.command_type.toUpperCase()}}
                    </span>
                    <span class="text-muted size-12" v-if="log_item.command_type == 'PAUSE'">{{_("PAUSED")}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="empty-box display-flex justify-content-center align-items-center flex-direction-column"
          style="margin-top: 100px"
          v-if="log_list.length == 0"
        >
          <div class="display-flex justify-content-center">
            <i class="material-icons text-color-gray" style="font-size: 220px">find_in_page</i>
          </div>
          <h3 class="text-align-center mt-3">{{_('No Records Found')}}</h3>
        </div>
      </div>
      ${hasMoreItems && $h`
      <div class="preloader infinite-scroll-preloader"></div>
      `} {% endraw %}
    </div>
  </div>
</template>

<script>
  export default async (props, ctx) => {
    const $f7 = ctx.$f7,
      $f7route = ctx.$f7route,
      $update = ctx.$update,
      $on = ctx.$on,
      $onBeforeMount = ctx.$onBeforeMount,
      $onMounted = ctx.$onMounted,
      $onBeforeUpdate = ctx.$onBeforeUpdate,
      $onUpdated = ctx.$onUpdated,
      $onBeforeUnmount = ctx.$onBeforeUnmount,
      $onUnmounted = ctx.$onUnmounted;
    let vueApp = null;
    let allowInfinite = true;
    let hasMoreItems = true;
    let refresh_data = false;
    let lastItem = 20;
    let { profile_subdevice, guid } = $f7route.query;
    const refreshFun = (e, done) => {
      refresh_data = true;
      vueApp.$refreshFun();
      done();
      $update();
    };
    const loadMore = () => {
      console.log('loadMore');
      refresh_data = false;
      debugger;
      if (!allowInfinite) return;

      vueApp.$loadMore();
    };
    $on('pageMounted', (e, page) => {
      vueApp = new Vue({
        el: '#device-control-log-box',
        data: {
          log_list: [],
          scene_map: {},
          start: 0,
          page_length: 20,
          guid: guid,
          button_gang: 0,
          more_data: true,
        },
        mounted() {
          Vue.prototype.$refreshFun = this.refreshFun;
          Vue.prototype.$loadMore = this.loadMore;
          this.init();
          this.getData();
        },
        methods: {
          async refreshFun() {
            this.start = 0;
            //this.log_list = [];
            await this.pushData();
            this.getData();
          },
          async loadMore() {
            allowInfinite = false;
            debugger;
            this.start += this.page_length;
            await this.getData();

            $update();
          },
          async pushData() {
            let data_1 = '9380'; //sensor data
            let data_2 = '9381'; //control data
            try {
              //check if gateway of ble
              let route = await window.peripheral[guid].findRoute();
              console.log('route', route);
              if (route == 'bluetooth') {
                window.peripheral[guid].write([
                  {
                    service: 'ff80',
                    characteristic: 'ff81',
                    data: data_1,
                  },
                  {
                    service: 'ff80',
                    characteristic: 'ff81',
                    data: data_2,
                  },
                ]);
              } else if (route == 'mobmob') {
                let findGuid = window.peripheral[guid].findDefaultConnect();
                if (!isset(findGuid)) {
                  findGuid = window.peripheral[guid].prop.guid;
                }
                let strList = window.peripheral[guid].prop.gateway.split('-');
                let gatewayStr = '';
                if (strList.length <= 2) {
                  gatewayStr = window.peripheral[guid].prop.gateway.toLowerCase();
                } else {
                  gatewayStr = window.peripheral[guid].prop.gateway;
                }
                await core_mqtt_publish(
                  'cmd/' + md5(md5(gatewayStr)),
                  {
                    command: 'Control',
                    function: 'bleHelper.perform',
                    params: [
                      {
                        action: 'write',
                        guid: findGuid,
                        mac_address: peripheral[findGuid].getProp().mac_address.toLowerCase(),
                        service_id: 'ff80',
                        char_id: 'ff81',
                        value: `02${window.peripheral[guid].prop.mac_reverse_key}${data_1}`,
                      },
                      {
                        action: 'write',
                        guid: findGuid,
                        mac_address: peripheral[findGuid].getProp().mac_address.toLowerCase(),
                        service_id: 'ff80',
                        char_id: 'ff81',
                        value: `02${window.peripheral[guid].prop.mac_reverse_key}${data_2}`,
                      },
                    ],
                    callback: '',
                    raw: '',
                  },
                  0,
                  false,
                  false,
                  false
                );
              } else if (route == 'mesh') {
                window.peripheral[findGuid].write([
                  {
                    service: 'ff80',
                    characteristic: 'ff81',
                    data: `02${window.peripheral[guid].prop.mac_reverse_key}${data_1}`,
                  },
                  {
                    service: 'ff80',
                    characteristic: 'ff81',
                    data: `02${window.peripheral[guid].prop.mac_reverse_key}${data_2}`,
                  },
                ]);
              }
            } catch (e) {
              console.log(e);
            }
          },
          init() {
            let list = cloneDeep(erp.info.profile.profile_subdevice);
            let this_button_group = '';
            list.forEach((item) => {
              if (item.name == profile_subdevice) {
                this_button_group = item.device_button_group;
              }
            });
            this.button_gang = bleHelper.getGangId(this_button_group);
            //init the scene list
            let scnenes = cloneDeep(erp.info.scene);
            this.scene_map = scnenes;
            //console.log("this.button_gang",this.button_gang);
          },
          async getData() {
            // let reqUrl = encodeURI(
            //   '/api/resource/Device Control Log?fields=["*"]&filters=[["profile_subdevice","=","' + profile_subdevice + '"]]'
            // );
            http2
              .request({
                url: encodeURI(
                  `/api/method/appv6.geControlAndStatusList?device=${this.guid}&start=${this.start}&page_length=${this.page_length}`
                ),
                method: 'GET',
                responseType: 'json',
              })
              .then((log_data) => {
                debugger;
                // console.log(log_data);
                let list = log_data.data.data;
                //check if the device is attached
                list.forEach((item) => {
                  item.is_show_status = true;
                  let deviceMap = peripheral[item.device];
                  if (isset(deviceMap) && isset(deviceMap.prop.device_mode)) {
                    item.device_mode = deviceMap.prop.device_mode;
                    if (item.device_mode == 'Triac Dimming' || item.device_mode == '0-10V Dimming' || item.device_mode == '1-10V Dimming') {
                      item.status = Math.ceil((item.status / 255) * 100);
                    }
                  }
                  if (isset(item.details) && item.details) {
                    let device_type_map = JSON.parse(item.details);
                    let device_model = device_type_map.device_type;
                    item.command_type = device_type_map.command_type;
                    //compare the device details
                    // console.log(device_type_map);
                    if (isset(device_type_map.Info)) {
                      //this is the device status log
                      let this_guid = device_type_map.Device.guid;
                      let deviceMap = peripheral[this_guid];
                      device_map = device_type_map.Device;
                      let gangList = isset(this.analysisDeviceStatus(this_guid, device_map))
                        ? this.analysisDeviceStatus(this_guid, device_map)
                        : null;
                      if (!gangList) {
                        item.is_show = true;
                        return;
                      }
                      if (isset(device_map['trigger_data']) && device_map['trigger_data']) {
                        let trigger_data = device_map['trigger_data'];
                        console.log("trigger_data",trigger_data)
                        let obj_map = this.renderRcuScene(trigger_data,device_map.guid);
                        if (obj_map) {
                          item.is_show_status = false;
                          item = Object.assign(item, obj_map);
                          console.log('item', item);
                          return;
                        }
                      }
                      // console.log(gangList);
                      //get the device model info and button group
                      let device_default_template_list = [];
                      if (erp.doctype.device_model[deviceMap.prop.hexModel.toUpperCase()]) {
                        device_default_template_list =
                          erp.doctype.device_model[deviceMap.prop.hexModel.toUpperCase()]['device_default_template'];
                      }
                      debugger;
                      device_default_template_list.forEach((kitem) => {
                        let device_button_group = kitem.device_button_group;
                        let device_mode = kitem.mode;
                        let gang = bleHelper.getGangId(device_button_group);
                        // console.log("gang",gang);
                        if (device_button_group.startsWith('ONOFF GANG') && device_mode != 'Geomagnetic') {
                          item.is_show_status = false;
                          item.control_source = 'MobMob';
                          item.command_type = 'device_status_log_onoff';
                          this_gang = device_button_group.replace('ONOFF GANG', '') * 1;
                          //this only show the subdevice button group
                          item[`gang_${this.button_gang}`] = gangList[this.button_gang];
                        } else if (device_button_group.startsWith('DIMMING')) {
                          item.is_show_status = false;
                          item.control_source = 'MobMob';
                          item.command_type = 'device_status_log_dimming';
                          item.dimming = gangList[8];
                        } else if (device_button_group.startsWith('OPENCLOSE GANG')) {
                          item.is_show_status = false;
                          item.command_type = 'device_status_log_curtain_switch';
                          return;
                        }else if(device_button_group.startsWith('OPENCLOSE UART') || device_button_group.startsWith('OPENCLOSE WIFI UART')){
                          item.is_show_status = false;
                          item.command_type = 'device_status_log_curtain_motor';
                          item.control_source = 'MobMob';
                          item.curtain_status = gangList[48];
                        } else if (device_button_group.startsWith('Door Open')) {
                          item.is_show_status = false;
                          item.command_type = 'device_status_log_door_open';
                          item.control_source = 'MobMob';
                          item.door_open = gangList[86];
                        } else if (device_mode == 'Geomagnetic') {
                          item.is_show_status = false;
                          item.command_type = 'device_status_log_geomagnetic';
                          item.control_source = 'MobMob';
                          item.geomagnetic = gangList[84];
                          item.battery = gangList[83];
                        } else if (device_button_group.startsWith('Hdmicec')) {
                          item.is_show_status = false;
                          item.command_type = 'device_status_log_hdmicec';
                          item.control_source = 'MobMob';
                        }
                        debugger;
                        if (gang == 42) {
                          //means theomostat
                          let mode_str = 4;
                          let mode_img = ``;
                          let speed_img = '';
                          let temp_img = '';
                          let room_temp_img = '';
                          let humidity_img = '';
                          power = gangList[42];
                          mode = gangList[43];
                          fan = gangList[44];
                          temp = gangList[45];
                          room_temp = gangList[46];
                          humidity = gangList[47];
                          if (mode == 1) {
                            mode_str = 5;
                          } else if (mode == 2) {
                            mode_str = 2;
                          }
                          item.control_source = 'MobMob';
                          item.command_type = 'device_status_log_thermostat';
                          item.device_model = 'YO360';
                          item.is_show_status = false;
                          item.mode = mode;
                          item.speed = fan;
                          item.temperature = temp;
                          item.room_temperature = room_temp;
                          item.humidity = humidity;
                        }
                      });
                      // console.log("item",item);
                    } else {
                      //this is the device control log
                      if (device_model == 'YO360' || device_model == 'm360s') {
                        //console.log(item.device_attachment_status);
                        let objMap = this.fliterThermostatData(device_type_map.device_attachment_status || '');
                        if (!isset(objMap)) {
                          return;
                        }
                        item.is_show_status = false;
                        item.mode = objMap.mode;
                        item.speed = objMap.speed;
                        item.temperature = objMap.temperature;
                        item.room_temperature = objMap.room_temperature;
                      }
                      if (item.device_mode == 'Hdmicec') {
                        item.is_show_status = false;
                      }
                      if (item.device_mode == 'Curtain Switch') {
                        item.is_show_status = false;
                      }
                      if (item.command_type == 'PAUSE') {
                        item.is_show_status = false;
                      }
                      item.device_model = device_type_map.device_type;
                    }
                  }
                });
                //console.log("list",list);
                debugger;
                if (list.length && !allowInfinite) {
                  this.log_list = this.log_list.concat(list);
                  allowInfinite = true;
                } else if (list.length && allowInfinite) {
                  this.log_list = list;
                  allowInfinite = true;
                  $update();
                } else if (!list.length) {
                  allowInfinite = false;
                  hasMoreItems = false;
                  if (!refresh_data) {
                    let toast = $f7.toast.create({
                      text: 'No more data',
                      closeTimeout: 2000,
                    });
                    toast.open();
                  }
                  $update();
                }
                if (list.length < 10) {
                  hasMoreItems = false;
                  $update();
                }
                console.log('this.log_list', this.log_list);
              })
              .catch((e) => {
                debugger;
                console.log(e);
              });
          },
          getModeInfoImg(mode) {
            let mode_map = {
              0: 'style/img/air_condition/icon-mode-4.png',
              1: 'style/img/air_condition/icon-mode-5.png',
              2: 'style/img/air_condition/icon-mode-2.png',
            };
            return mode_map[mode];
          },
          getSpeedInfoImg(speed) {
            let speed_map = {
              0: 'style/img/air_condition/icon-speed-0.png',
              1: 'style/img/air_condition/icon-speed-1.png',
              2: 'style/img/air_condition/icon-speed-2.png',
              3: 'style/img/air_condition/icon-speed-3.png',
              4: 'style/img/air_condition/icon-speed-4.png',
            };
            return speed_map[speed];
          },
          getModeInfo(mode) {
            let mode_map = {
              0: 'FAN',
              1: 'HEATING',
              2: 'COOLING',
            };
            return mode_map[mode];
          },
          getSpeedInfo(speed) {
            let speed_map = {
              0: 'LOW',
              1: 'AUTO',
              2: '1 SPEED',
              3: '2 SPEED',
              4: '3 SPEED',
            };
            return speed_map[speed];
          },
          renderRcuScene(trigger_data,guid) {
            let obj_map = {
              'control_source': 'MobMob',
              'command_type': 'rcu_scene_trigger',
              'scene_template': '',
              'scene_title': '',
              'scene_id': '',
              'trigger_data' : '',
              'scene_status': 0,
            };
            //"trigger_data": "8f0b002101",
            let list = trigger_data.match(/.{1,2}/g);
            let scene_id = list[3];
            let scene_map = this.scene_map;
            for (let i in scene_map) {
              let scene_id_list = scene_map[i].scene_device_location || [];
              for (let j in scene_id_list) {
                if (parseInt(scene_id_list[j].storage_id).toString(16).pad('00') == scene_id && scene_id_list[j].device == guid) {
                  obj_map.scene_title = scene_map[i].title;
                  obj_map.scene_id = scene_id;
                  obj_map.scene_status = list[4];
                  obj_map.scene_template = scene_map[i].scene_template;
                  obj_map.trigger_data = scene_map[i].trigger_data
                  break;
                }
              }
            }
            return obj_map;
          },
          fliterThermostatData(str) {
            if (!str) {
              return null;
            }
            //status,mode,speed,temperature,room_temperature,0
            let status = str.split(',')[0];
            let mode = str.split(',')[1];
            let speed = str.split(',')[2];
            let temperature = str.split(',')[3];
            let room_temperature = str.split(',')[4];
            return {
              status,
              mode,
              speed,
              temperature,
              room_temperature,
            };
          },
          analysisDeviceStatus(guid, device_map) {
            let deviceMap = peripheral[guid];
            let gangs = [
              0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
              0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
              0,
            ]; //io0 - io7, pwm1 - pwm4, rcu onoff 1 - 20, rcu dimming 1 - 10, Thermostat 1-6(ref,mode,fan,set_temp,reality_temp,humidity),curtain motor 48 ,Radar 49,RCU output 50-83,Geomagnetic 84,parking lock 85,Door Sensor 86
            let manufactureData = device_map.ctrl_data || device_map.manufacturing_data;
            if (!isset(manufactureData)) {
              return gangs;
            }
            let sensorData = device_map.sensor_data;
            let sceneData = device_map.scene_data;
            let io = manufactureData && manufactureData.length == 26 ? parseInt(manufactureData.substring(16, 18), 16) : '00';
            //if sensorData return
            if (sensorData) {
              if (sensorData.startsWith('9380')) {
                let battery_ref = parseInt(sensorData.substring(15, 16), 16);
                gangs[83] = battery_ref;
                let dc_ref = parseInt(sensorData.substring(14, 16), 16) & 0x02;
                gangs[84] = dc_ref;
                if (deviceMap.prop.hexModel == '021B' || deviceMap.prop.hexModel == '0375') {
                  let rsList = window.iot_ble_iaq_change_list(sensorData);
                  for (let i in rsList) {
                    const str = rsList[i].hex;
                    const type = rsList[i].type;
                    const index = rsList[i].index;
                    let value = core_utils_ieee_float_convert(str);
                    if (type == 'Temperature') {
                      gangs[45] = parseInt(value);
                    }
                    if (type == 'Humidity') {
                      gangs[47] = parseInt(value);
                    }
                  }
                }
              }
              return gangs;
            }
            if (sceneData) {
              return null;
            }
            if (manufactureData && manufactureData.startsWith('94110000')) {
              let thermostat = {
                power: parseInt(manufactureData.substring(10, 12), 16),
                model: parseInt(manufactureData.substring(12, 14), 16),
                fan: parseInt(manufactureData.substring(14, 16), 16),
                temp: parseInt(manufactureData.substring(16, 18), 16),
                room_temp: parseInt(manufactureData.substring(18, 20), 16),
                humidity: parseInt(manufactureData.substring(26, 28), 16),
              };
              gangs[42] = thermostat.power;
              gangs[43] = thermostat.model;
              gangs[44] = thermostat.fan;
              gangs[45] = thermostat.temp;
              gangs[46] = thermostat.room_temp;
              gangs[47] = thermostat.humidity;
            } else if (manufactureData && manufactureData.startsWith('85')) {
              if (manufactureData.length == 26) {
                io = parseInt(manufactureData.substring(manufactureData.length - 8, manufactureData.length - 6), 16);
              } else {
                io = parseInt(manufactureData.substring(manufactureData.length - 4, manufactureData.length - 2), 16);
              }
              //door sensor
              if (io > 0) {
                gangs[86] = 1;
              } else {
                gangs[86] = 0;
              }
            } else if (manufactureData && manufactureData.startsWith('80')) {
              io = parseInt(manufactureData.substring(2, 4), 16);
            } else if (manufactureData && manufactureData.startsWith('8b')) {
              io = parseInt(manufactureData.substring(2, 4), 16);
              if (manufactureData.startsWith('8b00') && window.peripheral[guid].prop.hexModel == '0205') {
                gangs[86] = 0;
              } else if (
                window.peripheral[guid].prop.hexModel &&
                window.peripheral[guid].prop.hexModel == '0205' &&
                !manufactureData.startsWith('8b00')
              ) {
                gangs[86] = 1;
              } else {
                io = parseInt(manufactureData.substring(2, 4), 16);
              }
            } else if (manufactureData.startsWith('9380')) {
            }
            for (let i = 8; i >= 0; i--) {
              let key = i.toString();
              let value = '0';
              if (io >= Math.pow(2, i)) {
                value = '1';
                io -= Math.pow(2, i);
              }
              //self.prop.gangs[i] = parseInt(value);
              gangs[i] = parseInt(value);
            }
            let sensor_ref = parseInt(manufactureData.substring(16, 18), 16);
            gangs[49] = sensor_ref;
            let curtain_io = parseInt(manufactureData.substring(4, 6), 16);
            if (curtain_io > 100) {
              curtain_io = 0;
            }
            gangs[48] = curtain_io;

            // pwm status
            let dimmingIo = parseInt(manufactureData.substring(4, 6), 16);
            gangs[8] = dimmingIo;
            //Geomagnetic battery_ref
            let battery_ref = parseInt(manufactureData.substring(15, 16), 16);
            gangs[83] = battery_ref;
            let dc_ref = parseInt(manufactureData.substring(14, 16), 16) & 0x02;
            gangs[84] = dc_ref;
            //get the device model info and button group
            // let device_default_template_list = [];
            // if(erp.doctype.device_model[deviceMap.prop.hexModel.toUpperCase()]){
            //   device_default_template_list = erp.doctype.device_model[deviceMap.prop.hexModel.toUpperCase()]['device_default_template'];
            // }
            // device_default_template_list.forEach(item=>{
            //   if(!item.display_in_unassigned){
            //     return;
            //   }
            //   let device_button_group = item.device_button_group;
            //   if(device_button_group.startsWith("ONOFF GANG")){

            //   }
            // })
            return gangs;
          },
        },
        beforeDestroy() {},
      });
    });
    $on('pageBeforeUnmount', (e, page) => {
      vueApp.$destroy();
      vueApp = null;
    });
    return $render;
  };
</script>

<style>
  .empty-box + .list ul::before,
  .empty-box + .list ul::after {
    content: none;
  }
</style>
